<div class="mobile-menu-wrapper">
  <div class="mobile-menu-overlay">
  </div>
  <!-- End of Overlay -->
  <a class="mobile-menu-close" href="javascript:;"><i class="d-icon-times"></i></a>
  <!-- End of CloseButton -->
  <div class="mobile-menu-container scrollable">
    <form class="input-wrapper">
      <input type="text" class="form-control" name="search" autocomplete="off" placeholder="Search your keyword..."
        required [(ngModel)]="key"/>
      <button class="btn btn-search" type="submit" (click)="search(key)">
        <i class="d-icon-search"></i>
      </button>
    </form>
    <!-- End of Search Form -->

    <div class="tab tab-nav-simple tab-nav-center tab-nav-boxed">
      <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
          <a href="#tab-1" class="nav-link active">Main Menu</a>
        </li>
        <li class="nav-item">
          <a href="#tab-2" class="nav-link">Categories</a>
        </li>
      </ul>
    </div>

    <ul class="mobile-menu mmenu-anim tab-content">
      <div class="tab-pane active" id="tab-1">
        <li>
          <a [routerLink]="['/main/pages/home']" routerLinkActive="router-link-active">Home</a>
        </li>
        <li  *ngIf="loggedUser" >
          <a [routerLink]="['/main/pages/my-account']">Account</a>
          <!-- <ul>
          <li>
              <a href="#">Grid</a>
              <ul>
                <li><a href="blog-grid-2col.html">Grid 2 columns</a></li>
                <li><a href="blog-grid-3col.html">Grid 3 columns</a></li>
                <li><a href="blog-grid-4col.html">Grid 4 columns</a></li>
                <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
              </ul>
            </li>
          </ul> -->
        </li>
        <li *ngIf="loggedUser"><a [routerLink]="['/main/pages/wishlist']" routerLinkActive="router-link-active">Wishlist</a></li>

        <li>
          <a [routerLink]="['/main/pages/about']" routerLinkActive="router-link-active">About</a>
        </li>
        <li>
          <a [routerLink]="['/main/pages/contact']" routerLinkActive="router-link-active">Contact</a>
        </li>

        <li *ngIf="!loggedUser"><a [routerLink]="['/main/pages/auth/login']" routerLinkActive="router-link-active">Login</a></li>
        <li *ngIf="!loggedUser"><a [routerLink]="['/main/pages/auth/register']">Register</a></li>
        <li *ngIf="!loggedUser"><a [routerLink]="['/main/pages/auth/forgot']">Reset password</a></li>

        <li>
          <a [routerLink]="['/main/pages/faq']" routerLinkActive="router-link-active">FAQ</a>
        </li>
        <!-- <li>
                    <a href="#">Elements</a>
                    <ul>
                        <li><a href="element-products.html">Products</a></li>
                        <li><a href="element-typography.html">Typography</a></li>
                        <li><a href="element-titles.html">Titles</a></li>
                    </ul>
                </li> -->
        <li><a [routerLink]="['/main/pages/home']" routerLinkActive="router-link-active">Kejettia.com !</a></li>
      </div>

      <div class="tab-pane" id="tab-2">
        <li *ngFor="let cat of categories" (click)="search(cat?.name)">
          <a href="javascript:;"><i class="{{cat?.icon}}"></i>{{cat?.name}}</a>
        </li>

      </div>
    </ul>
    <!-- End of MobileMenu -->
  </div>
</div>
