<li>
  <a href="demo5-shop.html">
    <i class="d-icon-t-shirt1" style="
                                  font-size: 23px;
                                  margin-left: -1px;
                                  margin-right: 1rem;
                              "></i>Travel &amp; Clothing</a>
  <div class="megamenu">
    <div class="row">
      <div class="col-lg-4">
        <app-categories-menu-item-section></app-categories-menu-item-section>
      </div>
      <div class="col-lg-4">
        <app-categories-menu-item-section></app-categories-menu-item-section>
      </div>
      <div class="col-lg-4">
        <app-categories-menu-item-section-banner></app-categories-menu-item-section-banner>
      </div>
    </div>
  </div>
</li>
