<li>
  <a href="javascript:;" (click)="goToSearch()" >
    <i class="{{Category.icon}}" style="
                                  font-size: 23px;
                                  margin-left: -1px;
                                  margin-right: 1rem;
                              "></i>{{Category?.name}}</a>
  <div class="megamenu">
    <div class="row">
      <div class="col-lg-4">
        <app-categories-menu-item-section [ProductCategory]="selectedCategory1"></app-categories-menu-item-section>
      </div>
      <div class="col-lg-4">
        <app-categories-menu-item-section [ProductCategory]="selectedCategory2"></app-categories-menu-item-section>
      </div>
      <div class="col-lg-4">
        <app-categories-menu-item-section-banner [StoreCategory]="Category"></app-categories-menu-item-section-banner>
      </div>
    </div>
  </div>
</li>
