<ul class="menu menu-options vertical-menu category-menu appear-animate" data-animation-options="{
                        'name': 'fadeInRightShorter',
                        'delay': '.2s'
                    }">
  <li><a href="javascript:;" class="menu-title">Browse Our Categories</a></li>



  <ng-template ngFor let-cat [ngForOf]="StoreCategories" let-i="index" let-even="even">
    <app-categories-menu-item [Category]="cat"></app-categories-menu-item>
  </ng-template>


  <li><a href="javascript:;" class="menu-title">Today Coupon Deals</a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="d-icon-card"></i>Backpacks &amp; Fashion bags
    </a>
  </li>
  <li>
    <a href="javascript:;">
      <i class="d-icon-card"></i>Daily Deals
    </a>
  </li>
</ul>


<div class="banner banner-fixed overlay-zoom overlay-dark" style="height: 190px !important;">
  <figure>
    <img src="assets/images/banner2.jpg" width="280" height="312" alt="banner"
      style="background-color: #26303c;" />
  </figure>
</div>
