<form action="#">
  <div class="form-group mb-3">
      <input type="text" class="form-control" id="forgot-password-email" name="forgot-password-email"
       placeholder="Email Address *" required [(ngModel)]="email"/>
  </div>
  <div style="margin-left: 14%; margin-bottom: 5%;" [ngClass]="{'recaptchafailed': recaptchafailed}" >
    <re-captcha (resolved)="resolveRecaptcha($event)" ></re-captcha>
  </div>
  <button class="btn btn-dark btn-block btn-rounded" (click)="passwordResetRequest()">Submit</button>
</form>
