<div class="intro-banner intro-banner4 banner banner-fixed banner-radius h-100 
                            overlay-light appear-animate" style="background-color: #fef0e3;"
                            data-animation-options="{
                            'name': 'fadeInUpShorter',
                            'delay': '.2s'
                        }">
                            <figure>
                                <img src="assets/images/demos/demo5/banners/4.jpg" width="580" height="241"
                                    alt="banner" />
                            </figure>
                            <div class="banner-content w-100 x-50 y-50 text-center pl-2 pr-2">
                                <h3 class="banner-title ls-m text-capitalize font-weight-bold">Our Brands</h3>
                                <p class="mb-0 text-uppercase ls-m">
                                    <a href="#">New York</a> - <a href="#">Paris</a> - <a
                                        href="#">Barcelona</a><br />
                                    <a href="#">Milan</a> - <a href="#">Rome</a> - <a href="#">London</a> - <a
                                        href="#">Dubai</a><br />
                                    <a href="#">Moscow</a> - <a href="#">Tokyo</a> - <a
                                        href="#">Shanghai</a><br />
                                    <a href="#">Mumbai</a> - <a href="#">Melbourne</a>
                                </p>
                            </div>
                        </div>