<div class="intro-slider  owl-carousel owl-theme row owl-dot-inner owl-dot-dark owl-full-height animation-slider cols-1 appear-animate"
                            data-animation="{
                            'name': 'fadeIn',
                            'delay': '.2s'
                        }" data-owl-options="{
                            'items': 1,
                            'nav': false,
                            'dots': true,
                            'loop': true,
                            'autoplay': false,
                            'animateIn': 'fadeInUp',
                            'animateOut': 'fadeOutRight'
                        }">
                            <div class="intro-slide1 banner banner-fixed banner-radius"
                                style="background-color: #f6f5f7;">
                                <figure>
                                    <img src="assets/images/demos/demo5/slides/1.jpg" width="580" height="508"
                                        alt="banner" />
                                </figure>
                                <div class="banner-content y-50">
                                    <h4 class="banner-subtitle text-uppercase font-weight-normal ls-normal slide-animate"
                                        data-animation-options="{'name': 'fadeInLeftShorter', 'duration': '1s'}">
                                        <span class="text-primary font-weight-bold">01.&nbsp;&nbsp;</span>BEST
                                        SELLERS STORE</h4>
                                    <h3 class="banner-title font-weight-bold ls-md slide-animate"
                                        data-animation-options="{'name': 'blurIn', 'delay': '.4s', 'duration': '1s'}">
                                        Our greatest hits <br />for women</h3>
                                    <p class="font-weight-normal ls-normal lh-1 text-uppercase text-dark mb-5 slide-animate"
                                        data-animation-options="{'name': 'fadeInUpShorter', 'delay': '.7s', 'duration': '1s'}">
                                        Starting At <strong class="text-primary">$24.00</strong></p>
                                    <a href="demo5-shop.html" class="btn btn-dark btn-sm btn-rounded slide-animate"
                                        data-animation-options="{'name': 'fadeInUpShorter', 'delay': '.9s', 'duration': '1s'}">Shop
                                        now</a>
                                </div>
                            </div>
                            <div class="intro-slide2 banner banner-fixed banner-radius"
                                style="background-color: #e4e8ec;">
                                <figure>
                                    <img src="assets/images/demos/demo5/slides/2.jpg" width="580" height="508"
                                        alt="banner" />
                                </figure>
                                <div class="banner-content y-50">
                                    <div class="slide-animate" data-animation-options="{
                                        'name': 'fadeInLeftShorter',
                                        'delay': '.2s'
                                    }">
                                        <h4 class="banner-subtitle text-uppercase font-weight-normal ls-normal">
                                            <span class="text-primary font-weight-bold">02.&nbsp;</span>BEST
                                            SELLERS STORE</h4>
                                        <h3 class="banner-title font-weight-bold ls-md mb-2 slide-animate"
                                            data-animation-options="{
                                            'name': 'fadeInLeftShorter',
                                            'delay': '.2s'
                                        }">Big Sale <br />for women</h3>
                                        <p class="text-uppercase text-dark ml-1">
                                            Up To<strong
                                                class="text-primary ml-1 mr-1">$24.00</strong><strong>Off</strong>
                                        </p>
                                        <a class="btn btn-white btn-sm btn-rounded btn-shadow" href="demo5-shop.html">Shop now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="intro-slide3 banner banner-fixed banner-radius"
                                style="background-color: #1d1b1a;">
                                <figure>
                                    <img src="assets/images/demos/demo5/slides/3.jpg" width="580" height="508"
                                        alt="Banner" />
                                </figure>
                                <div class="banner-content y-50">
                                    <h4 class="banner-subtitle text-uppercase text-white font-weight-normal ls-normal slide-animate"
                                        data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1s'}">
                                        <span class="text-primary font-weight-bold">03.&nbsp;</span>BEST SELLERS
                                        STORE</h4>
                                    <h3 class="banner-title font-weight-bold text-white ls-md slide-animate"
                                        data-animation-options="{'name': 'fadeInUpShorter', 'delay': '.4s', 'duration': '1s'}">
                                        Fashionable <br />for men's</h3>
                                    <p class="font-weight-normal ls-normal lh-1 text-uppercase text-white mb-5 slide-animate"
                                        data-animation-options="{'name': 'fadeInUpShorter', 'delay': '.6s', 'duration': '1s'}">
                                        Starting At <strong class="text-primary">$24.00</strong></p>
                                    <a href="demo5-shop.html" class="btn btn-white btn-outline btn-sm btn-rounded slide-animate"
                                        data-animation-options="{'name': 'fadeInUpShorter', 'delay': '.8s', 'duration': '1s'}">Shop
                                        now</a>
                                </div>
                            </div>
                        </div>