<div class="product-wrap" *ngIf="layout === 'grid'">
  <div class="product">
    <figure class="product-media" (click)="goToProduct()">
      <a href="javascript:;">
        <img [src]="photoUrl" alt="{{Product?.name}}" width="280" height="315">
      </a>
      <div class="product-label-group" *ngIf="IsNew">
        <label class="product-label label-new">new</label>
      </div>
      <div class="product-action-vertical">
        <a href="javascript:;" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal"
          title="Add to cart"><i class="d-icon-bag"></i></a>
        <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
            class="d-icon-heart"></i></a>
      </div>
      <div class="product-action" (click)="goToProduct()">
        <a href="javascript:;" class="btn-product btn-quickview" title="Quick View">Quick
          View</a>
      </div>
    </figure>
    <div class="product-details">
      <div class="product-cat">
        <a href="javascript:;">{{getCategory()}}</a>
      </div>
      <h3 class="product-name">
        <a href="javascript:;">{{Product?.name}}</a>
      </h3>
      <div class="product-price" *ngIf="Product?.currentPrice">
        <span class="price"></span>
        <ins class="new-price">{{Product?.currentPrice  |currency:'GHC ':'GH₵ '}}</ins><del class="old-price" *ngIf="Product?.previousPrice">
          {{Product?.previousPrice  |currency:'GHC ':'GH₵ '}}</del>
      </div>
      <div class="product-price"  *ngIf="!Product?.currentPrice" >
        <p>
          <span class="price">{{Product?.fromPrice |currency:'GHC ':'GH₵ '}}</span> -
          <span class="price">{{Product?.toPrice |currency:'GHC ':'GH₵ '}}</span>
        </p>
      </div>
      <app-rating></app-rating>
    </div>
  </div>
</div>

<div class="product product-list" *ngIf="layout === 'list'">
  <figure class="product-media">
    <a href="javascript:;">
      <img [src]="photoUrl" alt="{{Product?.name}}" width="260" height="293">
    </a>
    <div class="product-label-group" *ngIf="IsNew">
      <label class="product-label label-new">new</label>
    </div>
  </figure>
  <div class="product-details">
    <div class="product-cat">
      <a href="javascript:;">{{getCategory()}}</a>
    </div>
    <h3 class="product-name">
      <a href="javascript:;">{{Product?.name}}</a>
    </h3>
    <div class="product-price" *ngIf="Product?.currentPrice">
      <span class="price">{{Product?.currentPrice |currency:'GHC ':'GH₵ '}}</span>
    </div>
    <div class="product-price" *ngIf="!Product?.currentPrice">
      <p>
        <span class="price">{{Product?.fromPrice |currency:'GHC ':'GH₵ '}}</span> -
        <span class="price">{{Product?.toPrice |currency:'GHC ':'GH₵ '}}</span>
      </p>

    </div>
    <app-rating></app-rating>
    <p class="product-short-desc">
      {{Product?.about}}
    </p>
    <div class="product-action">
      <a href="javascript:;" class="btn-product btn-cart" data-toggle="modal" data-target="#addCartModal"
        title="Add to cart"><i class="d-icon-bag"></i><label>Add to cart</label></a>
      <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
          class="d-icon-heart"></i></a>
      <a href="javascript:;" class="btn-product-icon btn-quickview" title="Quick View"><i class="d-icon-search"></i></a>
    </div>
  </div>
</div>
