<div class="product-wrap" *ngIf="layout === 'grid'">
  <div class="product">
    <figure class="product-media" >
      <a href="javascript:;" (click)="goToProduct()">
        <img [src]="photoUrl" alt="{{Product?.name}}" width="280" height="315">
      </a>
      <div class="product-label-group" >
        <label class="product-label label-new" *ngIf="IsNew">new</label>
        <label class="product-label label-sale" *ngIf="discount>0">{{discount.toFixed(2)}}% off</label>
      </div>
      <div class="product-action-vertical">
        <a href="javascript:;" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal"
          title="Add to cart" (click)="addToCart()"><i class="d-icon-bag"></i></a>
        <a href="javascript:;" (click)="addToWishlist($event)" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
            class="d-icon-heart"></i></a>
      </div>
      <div class="product-action" (click)="goToProduct()">
        <a href="javascript:;" class="btn-product btn-quickview" title="Quick View">Quick
          View</a>
      </div>
    </figure>
    <div class="product-details">
      <div class="product-cat">
        <a href="javascript:;">{{getCategory()}}</a>
      </div>
      <h3 class="product-name">
        <a href="javascript:;">{{Product?.name}}</a>
      </h3>
      <div class="product-price" *ngIf="Product?.price">
        <span class="price"></span>
        <ins class="new-price">{{Product?.price  |currency:'USD ':'$ '}}</ins><del class="old-price" *ngIf="Product?.regular_price">
          {{Product?.regular_price  |currency:'USD ':'$ '}}</del>
      </div>
      <!-- <div class="product-price"  *ngIf="!WcProduct?.price" >
        <p>
          <span class="price">{{WcProduct?.fromPrice |currency:'USD ':'$ '}}</span> -
          <span class="price">{{WcProduct?.toPrice |currency:'USD ':'$ '}}</span>
        </p>
      </div> -->
      <app-rating [Rating]="Rating" [ReviewsCount]="Product?.rating_count"></app-rating>
    </div>
  </div>
</div>

<div class="product product-list" *ngIf="layout === 'list'">
  <figure class="product-media"  (click)="goToProduct()">
    <a href="javascript:;">
      <img [src]="photoUrl" alt="{{Product?.name}}" width="260" height="293">
    </a>
    <div class="product-label-group" *ngIf="IsNew">
      <label class="product-label label-new">new</label>
    </div>
  </figure>
  <div class="product-details">
    <div class="product-cat">
      <a href="javascript:;">{{getCategory()}}</a>
    </div>
    <h3 class="product-name">
      <a href="javascript:;"  (click)="goToProduct()">{{Product?.name}}</a>
    </h3>
    <div class="product-price" *ngIf="Product?.price">
      <span class="price">{{Product?.price |currency:'USD ':'$ '}}</span>
    </div>
    <!-- <div class="product-price" *ngIf="!WcProduct?.price">
      <p>
        <span class="price">{{WcProduct?.fromPrice |currency:'USD ':'$ '}}</span> -
        <span class="price">{{WcProduct?.toPrice |currency:'USD ':'$ '}}</span>
      </p>
    </div> -->
    <app-rating [Rating]="Rating" [ReviewsCount]="Product?.rating_count"></app-rating>
    <!-- <p class="product-short-desc"> -->
      <!-- {{WcProduct?.description}} -->
      <div [innerHTML]=" Product?.description | sanitizeHtml "> </div>
    <!-- </p> -->
    <div class="product-action">
      <a href="javascript:;"  (click)="goToProduct()" class="btn-product btn-cart" data-toggle="modal" data-target="#addCartModal"
        title="Add to cart"><i class="d-icon-bag"></i><label>Add to cart</label></a>
      <a href="javascript:;" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
          class="d-icon-heart"></i></a>
      <a href="javascript:;" class="btn-product-icon btn-quickview" title="Quick View"><i class="d-icon-search"></i></a>
    </div>
  </div>
</div>
