<div class="widget widget-testimonial border-no" data-animation-options="{
  'delay': '.3s'
}">
  <h4 class="widget-title text-capitalize font-weight-bold">Testimonials</h4>
  <div class="widget-body">
    <div class="owl-carousel owl-nav-top" data-owl-options="{
          'items': 1,
          'loop': false,
          'nav': true,
          'dots': false,
          'margin': 20
      }">
      <div class="testimonial">
        <blockquote class="comment">I am keeping my fingers on the pulse by
          Riode every year! It gives me good sense of trend. My family
          likes it, too.</blockquote>
        <div class="testimonial-info">
          <figure class="testimonial-author-thumbnail">
            <img src="assets/images/agent.png" alt="user" width="40" height="40" />
          </figure>
          <cite class="font-weight-semi-bold text-capitalize">
            Casper Dalin
            <span>Investor</span>
          </cite>
        </div>
      </div>
      <div class="testimonial">
        <blockquote class="comment">I am keeping my fingers on the pulse by
          Riode every year! It gives me good sense of trend. My family
          likes it, too.</blockquote>
        <div class="testimonial-info">
          <figure class="testimonial-author-thumbnail">
            <img src="assets/images/agent.png" alt="user" width="40" height="40" />
          </figure>
          <cite>
            Casper Dalin
            <span>Investor</span>
          </cite>
        </div>
      </div>
    </div>
  </div>
</div>
