<form id="msform" >
    <!-- progressbar -->
    <ul id="progressbar" style="
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-content: stretch;">
      <!-- <li [class.active]="next === 0" id="account"><strong>Personal</strong></li> -->
      <li id="personal"><strong>Confirm order</strong></li>
      <li id="confirm"><strong>Processing Order</strong></li>
      <li id="confirm"><strong>Quality check</strong></li>
      <li id="confirm"><strong>Product dispatched </strong></li>
      <li id="confirm"><strong>Product Delivered </strong></li>
    </ul>
    </form>