<main class="main mt-8 single-product">
  <div class="page-content mb-10 pb-6">
    <div class="container">
      <div class="product product-single row mb-8">
        <div class="col-md-6">
          <div class="product-gallery pg-vertical">
            <div class="product-single-carousel owl-carousel owl-theme owl-nav-inner row cols-1">
              <figure class="product-image" *ngFor="let ph of selectedProductPhotos">
                <img src="{{ph?.source}}" #zoomImage [attr.data-zoom-image]="ph?.source" [alt]="selectedProduct?.name"
                  width="800" height="900">
              </figure>
            </div>
            <div class="product-thumbs-wrap">
              <div class="product-thumbs">
                <div class="product-thumb active" *ngFor="let ph of selectedProductPhotos">
                  <img [src]="ph?.thumbnail" alt="product thumbnail" width="109" height="122">
                </div>
              </div>
              <button class="thumb-up disabled"><i class="fas fa-chevron-left"></i></button>
              <button class="thumb-down disabled"><i class="fas fa-chevron-right"></i></button>
            </div>
            <app-gallery-wrapper [Images]="selectedProduct?.photos" class="m-0 p-0"
              *ngIf="selectedProductPhotos?.length>0"></app-gallery-wrapper>
          </div>
        </div>
        <div class="col-md-6 sticky-sidebar-wrapper">
          <div class="product-details sticky-sidebar" data-sticky-options="{'minWidth': 767}">
            <div class="product-navigation">
              <ul class="breadcrumb breadcrumb-lg">
                <li><a [routerLink]="['/']" routerLinkActive="router-link-active"><i class="d-icon-home"></i></a></li>
                <li><a href="javascript:;" (click)="goBack();" class="active">Products</a></li>
                <li><i class="fas fa-wordpress-simple    "></i></li>
              </ul>

              <ul class="product-nav">
                <li class="product-nav-prev" (click)="goPrev()">
                  <a href="javascript:;" >
                    <i class="d-icon-arrow-left"></i> Prev
                    <span class="product-nav-popup" *ngIf="Prev">
                      <img *ngIf="Prev" [src]="getPhotoUrl(Prev?.photos)" alt="" width="110" height="123">
                      <span class="product-name">{{Prev?.name || 'product list'}}</span>
                    </span>
                  </a>
                </li>
                <li class="product-nav-next" (click)="goNext()">
                  <a href="javascript:;">
                    Next <i class="d-icon-arrow-right"></i>
                    <span class="product-nav-popup">
                      <img [src]="getPhotoUrl(Next?.photos)" alt="" width="110" height="123">
                      <span class="product-name">{{Next?.name || 'No product found'}}</span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>

            <h1 class="product-name">{{selectedProduct?.name}}</h1>
            <div class="product-meta" *ngIf="selectedProduct?.productModel">
              SKU: <span
                class="product-sku">{{(selectedProduct?.productModel?.serialNumber+' '+selectedProduct?.productModel?.version)??selectedProduct?.productModel?.description}}</span>
              BRAND: <span class="product-brand">{{selectedProduct?.productModel?.productBrand?.manufacturer}} -
                {{selectedProduct?.productModel?.productBrand?.location}}</span>
            </div>

            <div class="product-price" *ngIf="selectedProduct?.currentPrice">
              {{selectedProduct?.currentPrice |currency:'GHC '}} +
              <small>{{selectedShippingCost | currency:' ':' '}}</small> <small style="color:black; font-size:50%">
                shipping</small></div>
            <ng-container *ngIf="!selectedProduct?.currentPrice">
              <div class="product-price">{{selectedProduct?.fromPrice |currency:'GHC ':'GH₵ '}} -
                {{selectedProduct?.toPrice |currency:'GHC ':'GH₵ '}}</div>
              <div class="product-price">+ <small>{{selectedShippingCost | currency:' ':' '}}</small> <small
                  style="color:black; font-size:50%"> shipping</small></div>
            </ng-container>




            <div class="ratings-container">
              <div class="ratings-full">
                <span class="ratings" [style]="'width:'+calculateRating()+'%'"></span>
                <span class="tooltiptext tooltip-top"></span>
              </div>
              <a href="javascript:;" (click)="goToTab(4)" class="link-to-tab rating-reviews">(
                {{selectedProduct?.reviews?.length??0}} reviews )</a>
            </div>
            <p class="product-short-desc">{{selectedProduct?.about| slice:0:210}}</p>
            <app-delivery-select [Shippings]="selectedProduct?.shippings" (guideEvent)="setGuidWidget($event)"
              (selectedShippingCostEvent)="selectedShippingCost=$event"
              (selectedShippingEvent)="selectedShipping=$event">
            </app-delivery-select>

            <hr class="product-divider">
            <div class="product-form-group">
              <a href="javascript:;" class=""  *ngIf="StockCount>0" >Total in stock: {{StockCount}}</a>
              <a href="javascript:;" class=""  *ngIf="StockCount<=0">Out of stock</a>
            </div>
            <div class="product-form product-qty"  *ngIf="StockCount>0">
              <div class="product-form-group">
                <div class="input-group mr-2">
                  <button class="quantity-minus d-icon-minus" (click)="decreaseQuantity()"></button>
                  <input class="quantity form-control" type="number" min="1" max="1000000" [(ngModel)]="Quantity">
                  <button class="quantity-plus d-icon-plus" (click)="increaseQuantity()"></button>
                </div>
                <button class="btn-product btn-cart text-normal ls-normal font-weight-semi-bold"
                  (click)="addToCart()"><i class="d-icon-bag"></i>Add to
                  Cart</button>
              </div>
            </div>

            <hr class="product-divider mb-3">

            <div class="product-footer">
              <div class="social-links mr-4">
                <a href="javascript:;" class="social-link social-facebook fab fa-facebook-f"></a>
                <a href="javascript:;" class="social-link social-twitter fab fa-twitter"></a>
                <a href="javascript:;" class="social-link social-pinterest fab fa-pinterest-p"></a>
              </div>
              <span class="divider d-lg-show"></span>
              <div class="product-action">
                <a href="javascript:;" class="btn-product btn-wishlist mr-6" (click)="addToWishList()"><i
                    class="d-icon-heart"></i>Add to
                  wishlist</a>
                <a href="javascript:;" class="btn-product btn-compare" (click)="addToCompare()"><i
                    class="d-icon-compare"></i>Add
                  to
                  compare</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab tab-nav-simple product-tabs mb-4">
        <ul class="nav nav-tabs justify-content-center" role="tablist">
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" [ngClass]="{'active': tab===1}" (click)="goToTab(1)">Description</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" [ngClass]="{'active': tab===2}" (click)="goToTab(2)">Additional
              information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" [ngClass]="{'active': tab===5}" (click)="goToTab(5)">Shipping &
              delivery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" [ngClass]="{'active': tab===3}" (click)="goToTab(3)">Guide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" [ngClass]="{'active': tab===4}" (click)="goToTab(4)">Reviews
              ({{productReviews?.length||0}})</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane animate__animated animate__fadeInUp" id="product-tab-description"
            [ngClass]="{'active in': tab===1}" [hidden]="tab!==1">
            <div class="row mt-6">
              <div class="col-md-6">
                <h5 class="description-title mb-4 font-weight-semi-bold ls-m">Features</h5>
                <p class="mb-2">
                  {{selectedProduct?.about}}
                </p>
                <!-- <p class="mb-2">
                  Features describe the other qualities of the product that helps you the customer to make a good
                  decisions about the
                  purchase. Find below are further description of the products based on know features.
                </p> -->
                <ul class="mb-8">
                  <li *ngFor="let f of otherFeatures">{{f?.name}}</li>
                </ul>
                <h5 class="description-title mb-3 font-weight-semi-bold ls-m">Specifications
                </h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th class="pl-0">Property</th>
                      <th></th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let f of otherFeatures">
                      <th class="font-weight-semi-bold text-dark pl-0">{{f?.name}}</th>
                      <th class="pl-4">{{f?.value}}</th>
                      <td class="pl-4">{{f?.description}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6 pl-md-6 pt-4 pt-md-0">
                <app-video-widget *ngIf="getVideo()" [Video]="getVideo()"></app-video-widget>
                <div class="icon-box-wrap d-flex flex-wrap">
                  <div class="icon-box icon-box-side icon-border pt-2 pb-2 mb-4 mr-10">
                    <div class="icon-box-icon">
                      <i class="d-icon-lock"></i>
                    </div>
                    <div class="icon-box-content">
                      <h4 class="icon-box-title lh-1 pt-1 ls-s text-normal">Contact seller through Kejettia's platform
                        for warranty information</h4>
                    </div>
                  </div>
                  <div class="divider d-xl-show mr-10"></div>
                  <div class="icon-box icon-box-side icon-border pt-2 pb-2 mb-4">
                    <div class="icon-box-icon">
                      <i class="d-icon-truck"></i>
                    </div>
                    <div class="icon-box-content">
                      <h4 class="icon-box-title lh-1 pt-1 ls-s text-normal">Free shipping
                      </h4>
                      <p>Some stores offers free shipping. Click on additional information tab above to check
                        if this product has free shipping deals
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane animate__animated animate__fadeInUp" id="product-tab-additional"
            [ngClass]="{'active in': tab===2}" [hidden]="tab!==2">
            <ul class="list-none">
              <li><label>Brand:</label>
                <p>{{selectedProduct?.productModel?.productBrand?.manufacturer}}
                  {{selectedProduct?.productModel?.productBrand?.location}}</p>
              </li>
            </ul>
            <span class="divider d-lg-show"></span>

            <div>
              <table class="table text-left">
                <thead>
                  <tr>
                    <th class="pl-0">Model description</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="font-weight-semi-bold text-dark pl-0">Serial number</th>
                    <th class="pl-4">{{selectedProduct?.productModel?.serialNumber}}</th>
                  </tr>
                  <tr>
                    <th class="font-weight-semi-bold text-dark pl-0">Version</th>
                    <th class="pl-4">{{selectedProduct?.productModel?.version}}</th>
                  </tr>
                  <tr>
                    <th class="font-weight-semi-bold text-dark pl-0">Firmware</th>
                    <th class="pl-4">{{selectedProduct?.productModel?.firmware}}</th>
                  </tr>
                  <tr>
                    <th class="font-weight-semi-bold text-dark pl-0">Other</th>
                    <th class="pl-4">{{selectedProduct?.productModel?.description}}</th>
                  </tr>
                </tbody>
              </table>
            </div>

            <span class="divider d-lg-show"></span>

          </div>
          <div class="tab-pane animate__animated animate__fadeInUp" id="product-tab-size-guide"
            [ngClass]="{'active in': tab===3}" [hidden]="tab!==3">
            <ng-template [ngIf]="guide==''">
              <p class="text-bold text-black">No guide specified</p>
            </ng-template>
            <ng-template [ngIf]="guide==='size'">
              <figure class="size-image mt-4 mb-4">
                <img [src]="sizeGuidePhoto" alt="Size guide photo" width="217" height="398">
              </figure>
              <figure class="size-table mt-4 mb-4" *ngIf="(sizeGuidePhoto.search('asset')>=0)">
                <table>
                  <thead>
                    <tr>
                      <th>SIZE</th>
                      <th>CHEST(IN.)</th>
                      <th>WEIST(IN.)</th>
                      <th>HIPS(IN.)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>XS</th>
                      <td>34-36</td>
                      <td>27-29</td>
                      <td>34.5-36.5</td>
                    </tr>
                    <tr>
                      <th>S</th>
                      <td>36-38</td>
                      <td>29-31</td>
                      <td>36.5-38.5</td>
                    </tr>
                    <tr>
                      <th>M</th>
                      <td>38-40</td>
                      <td>31-33</td>
                      <td>38.5-40.5</td>
                    </tr>
                    <tr>
                      <th>L</th>
                      <td>40-42</td>
                      <td>33-36</td>
                      <td>40.5-43.5</td>
                    </tr>
                    <tr>
                      <th>XL</th>
                      <td>42-45</td>
                      <td>36-40</td>
                      <td>43.5-47.5</td>
                    </tr>
                    <tr>
                      <th>XXL</th>
                      <td>45-48</td>
                      <td>40-44</td>
                      <td>47.5-51.5</td>
                    </tr>
                  </tbody>
                </table>
              </figure>
            </ng-template>

            <ng-template [ngIf]="guide==='Color'">
              <figure class="size-image mt-4 mb-4">
                <img [src]="colorGuidePhoto" alt="Color guide photo" width="217" height="398">
              </figure>
              <figure class="size-table mt-4 mb-4">
                <table>
                  <thead>
                    <tr>
                      <th>Color</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let c of colorFeatures">
                      <th>{{c?.value}}</th>
                      <td>{{c?.description}}</td>
                    </tr>
                  </tbody>
                </table>
              </figure>
            </ng-template>

          </div>
          <div class="tab-pane animate__animated animate__fadeInUp" id="product-tab-reviews"
            [ngClass]="{'active in': tab===4}" [hidden]="tab!==4">
            <div class="comments mb-8 pt-2 pb-2 border-no">
              <app-review-comments [Reviews]="productReviews"></app-review-comments>
            </div>
            <!-- End Comments -->
            <div class="reply">
              <app-add-review [Product]="selectedProduct"></app-add-review>
            </div>
            <!-- End Reply -->
          </div>
          <div class="tab-pane animate__animated animate__fadeInUp" id="product-tab-shipping"
            [ngClass]="{'active in': tab===5}" [hidden]="tab!==5">
            <app-shipping-view [shippings]="selectedProduct?.shippings"></app-shipping-view>
          </div>
        </div>
      </div>
      <section class="pt-3 mt-10">
        <app-related-product></app-related-product>
      </section>
    </div>
  </div>
</main>
