<table class="order-table">
  <thead>
    <tr>
      <th class="pl-2">Order ID</th>
      <th>Date</th>
      <th>Status</th>
      <th>Total Amount</th>
      <th class="pr-2"></th>
      <th class="pr-2">Actions</th>
      <th class="pr-2"></th>
      <th class="pr-2"></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of consolidatedOrders?.reverse()">
      <td class="order-number"><a href="javascript:;" (click)="goToOrderComplete(order)">#{{order?.id?.slice(19)}}</a></td>
      <td class="order-date"><time>{{order?.dateCreated | date}}</time></td>
      <td class="order-status"><span>{{order?.state}}</span></td>
      <td class="order-total"><span>{{order?.grandTotal | currency:'CAD ':'CAD$ '}}</span></td>
      <td class="order-action"></td>
      <td class="order-action" *ngIf="order?.invoice"><a href="javascript:;" (click)="goToOrderDetails(order)"
          class="btn btn-primary btn-link btn-underline" >View</a></td>
      <td class="order-action" *ngIf="!order?.invoice"><a href="javascript:;" (click)="goToOrderComplete(order)"
          class="btn btn-primary btn-link btn-underline">Pay</a></td>
      <td class="order-action"><a href="javascript:;" (click)="delete(order)"
          class="btn btn-primary btn-link btn-underline">Delete</a></td>
    </tr>
  </tbody>
</table>
