.loader-bg {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    top: 16vh;
    background-color: rgb(249 249 249 / 80%);
}

.img-loader {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    max-width: 100%;
    max-height: 100vw;
    min-height: auto;
    height: 80px;
    animation: anim 3s infinite;
}

@keyframes anim {
    0% {
    opacity: .1;
    }

    75% {
    opacity: 1;
    }

    100% {
    opacity: .1;
    }
}
