// @import url(../../../../../assets/css/style.min.css);


img.profile_r {
  border-radius: 50%;
    width: 18vw !important;
    object-fit: cover;
    object-position: center;
    // border: solid red 5px;
}

p.profile_text {
    font-size: 1.2em !important;
}

button.profile_edit {
    background: transparent !important;
    border: transparent !important;
}

.text-bd-left::before{
  background-color: transparent !important

}

.verified{
  background: #11c500 !important;
  border-color: #11c500 !important;
}
