<div class="col-12">
  <div class="row">
    <div class="col-sm-6 mb-4">
      <div class="testimonial testimonial-centered testimonial-border">
        <div class="testimonial-info">
          <h2 class="testimonial-title">My Account</h2>
          <figure class="">
            <button type="submit" class="profile_edit userprofilepic"><img [src]="getProfilePhoto()"
                alt="Blue Pinafore Denim Dress" class="profile_r" style="height: 18vw; width: 18vw;"></button>
          </figure>
          <app-upload (uploadedFile)="ProfilePhoto=$event" [uploadUrl]="uploadUrl"></app-upload>
        </div>
      </div>

    </div>
    <div class="col-sm-6 mb-4">
      <div class="card card-address">
        <div class="card-body">
          <blockquote class="text-bd-left profile_info">
            <ul class="widget-body ion-text-left">
              <li>
                <div class="icon-box-content">
                  <h6 class="icon-box-title">Name:
                    <p class="profile_text">{{loggedUser?.profile?.firstName}} {{loggedUser?.profile?.otherName}}
                      {{loggedUser?.profile?.lastName}}</p>
                  </h6>

                  <!-- <div class="col-12">
        <div class="row">
        <div class="col-sm-6 mb-4">
            <div class="testimonial testimonial-centered testimonial-border">
                <div class="testimonial-info">
                    <h2 class="testimonial-title">My Account</h2>
                    <figure class="">
                        <button type="submit" class="profile_edit userprofilepic"><img [src]="getProfilePhoto()" alt="Blue Pinafore Denim Dress" class="profile_r" style="height: 18vw; width: 18vw;"></button>
                    </figure>
                    <app-upload (uploadedFile)="ProfilePhoto=$event" [uploadUrl]="uploadUrl"></app-upload>
                -->
                </div>
              </li>


              <li>
                <div class="icon-box-content">
                  <h6 class="icon-box-title">Email:
                    <p class="profile_text"><a href="mailto:market.kejettia@gmail.com">{{loggedUser?.email}}</a></p>
                  </h6>
                </div>
              </li>
              <li>
                <div class="icon-box-content">
                  <h6 class="icon-box-title">Address:
                    <p class="profile_text">
                      {{loggedUser?.address?.apartment}}
                      {{loggedUser?.address?.suburb}}
                      {{loggedUser?.address?.city}}
                      {{loggedUser?.address?.state}}
                      {{loggedUser?.address?.country}}
                    </p>
                  </h6>
                </div>
              </li>
              <li>
                <div class="icon-box-content">
                  <h6 class="icon-box-title">Phone:
                    <p class="profile_text"><a href="tel:#">
                        {{loggedUser?.phone}}
                      </a></p>
                  </h6>
                </div>
              </li>
              <li>
                <div class="icon-box-content">
                  <h6 class="icon-box-title">Gender:
                    <p class="profile_text">{{loggedUser?.profile?.gender}}</p>
                  </h6>
                </div>
              </li>
              <li>
                <div class="icon-box-content">
                  <h6 class="icon-box-title">Date Of Birth:
                    <p class="profile_text">{{loggedUser?.profile?.dateOfBirth | date:'dd/MM/yy'}}</p>
                  </h6>
                </div>
              </li>
            </ul>
          </blockquote>
        </div>
      </div>

    </div>
  </div>
</div>
