<main class="main">
  <div class="page-content mb-10 pb-6">
    <div class="container">
      <app-store-carousel></app-store-carousel>
      <app-mixed-search [hidden]="searchPageFilter !== 'mixed'"></app-mixed-search>
      <app-store-search [hidden]="searchPageFilter !== 'store'"></app-store-search>
      <app-product-search [hidden]="searchPageFilter !== 'product'">
      </app-product-search>
    </div>
  </div>
</main>
<!-- Scroll Top -->
<a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="d-icon-arrow-up"></i></a>
