<div class="intro-banner intro-banner3 banner banner-fixed banner-radius 
                            overlay-dark appear-animate" style="background-color: #3a4146;"
                            data-animation-options="{
                            'name': 'fadeInUpShorter',
                            'delay': '.2s'
                        }">
                            <a href="#">
                                <figure>
                                    <img src="assets/images/demos/demo5/banners/3.jpg" width="580" height="241"
                                        alt="banner" />
                                </figure>
                            </a>
                            <div class="banner-content y-50">
                                <h4 class="banner-subtitle text-uppercase font-weight-bold text-primary">BLACK
                                    FRIDAY SALE</h4>
                                <h3 class="banner-title text-white lh-1 font-weight-bold">Fingerprints Padlock
                                </h3>
                                <a href="demo5-shop.html" class="btn btn-white btn-link btn-underline">Shop Now<i
                                        class="d-icon-arrow-right"></i></a>
                            </div>
                        </div>