<div class="sidebar-overlay"></div>
<a class="sidebar-close" href="javascript:;"><i class="d-icon-times"></i></a>
<div class="sidebar-content">
  <div class="sticky-sidebar" data-sticky-options="{'top': 10}">
    <div class="filter-actions mb-4">
      <a href="javascript:;" (click)="toggleFilter()"
        class="sidebar-toggle-btn toggle-remain btn btn-outline btn-primary btn-rounded btn-icon-right">Filter<i
          class="d-icon-arrow-left"></i></a>
      <a href="javascript:;" class="filter-clean">Clean All</a>
    </div>
    <div class="widget widget-collapsible">
      <h3 class="widget-title">SORT BY</h3>
      <ul class="widget-body filter-items">
        <li class="all active"><a href="javascript:;" (click)="setAll()">All</a></li>
        <li class="shops active"><a href="javascript:;" (click)="setShops()">Shops</a></li>
        <li class="products active"><a href="javascript:;" (click)="setProducts()">Product</a></li>
        <!-- <li class="company active"><a href="javascript:;" (click)="setCompanies()">Company |
            Services</a></li> -->
      </ul>
    </div>
    <div class="widget widget-collapsible ">
      <app-category-filter></app-category-filter>
    </div>
    <div class="widget widget-collapsible">
      <app-price-filter></app-price-filter>
    </div>
    <div class="widget widget-collapsible">
      <app-size-filter></app-size-filter>
    </div>
    <div class="widget widget-collapsible">
      <app-color-filter></app-color-filter>
    </div>
    <div class="widget widget-collapsible">
      <app-brand-filter></app-brand-filter>
    </div>
  </div>
</div>
