<div class="page-wrapper">
</div>
<main class="main">
    <div class="page-header" style="background-image: url(assets/images/page-header/faq.jpg)">
        <h3 class="page-subtitle lh-1">Frequently</h3>
        <h1 class="page-title font-weight-bold text-capitalize lh-1">Asked Questions</h1>
    </div>
    <div class="page-content mb-10 pb-8">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mt-10">
                        <h2 class="title pl-2 pr-2 ls-m text-left">Customer Management</h2>
                        <div class="accordion accordion-border accordion-boxed accordion-plus">
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse2-1" class="collapse">How do I pay on Kejettia?</a>
                                </div>
                                <div id="collapse2-1" class="expanded">
                                    <div class="card-body">
                                      <h4 style="color: #ed1d25;">How do I pay on Kejettia?</h4>

                                        <p>You can choose from the different payment methods available. Please find below the list of available payment methods:</p>
                                            <ul>
                                                <li>1.<b>Mobile Money</b></li>
                                                <li>2.<b>Credit/Debit Card</b></li>

                                            </ul>
                                        <p>You can find details of these payment methods at the final step of checkout.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse2-2" class="expand">How can I pay for my order on Kejettia app or the Kejettia mobile website?</a>
                                </div>
                                <div id="collapse2-2" class="collapsed">
                                    <div class="card-body">
                                      <h4 style="color: #ed1d25;">How can I pay for my order on Kejettia app or the Kejettia mobile website?</h4>
                                        <p>The Kejettia mobile app and mobile website offer all the payment options that the full website version offers. You can pay with confidence, using your preferred payment option.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse2-3" class="expand">How can I prevent identity theft?</a>
                                </div>
                                <div id="collapse2-3" class="collapsed">
                                    <div class="card-body">
                                      <h4 style="color: #ed1d25;">How can I prevent identity theft?</h4>
                                          <ul>
                                            <li><b>1. </b> Always cover your keypad/paperwork when filling personal details in public.</li>
                                            <li><b>2. </b> Use your body to prevent the person behind you from seeing your debit/credit card pin at the point of using the ATM.</li>
                                            <li><b>3. </b> Regularly check your statement of account to confirm if there are any records of strange or suspicious activities.</li>
                                            <li><b>4. </b> Change your password if in doubt that it has been compromised.</li>
                                            <li><b>5. </b> Give a strong password to your WiFi and make sure it is changed from time to time. Also, switch off the wireless device when not in use.</li>
                                            <li><b>6. </b> Avoid free downloads and email attachments from unknown sites/persons. To avoid being a victim, install a software solution that runs a quick scan before you download any file.</li>
                                            <li><b>7. </b> Personal information can be retrieved from trash cans if not well disposed. Always ensure disposed paper works or documents are well shredded.</li>
                                            <li><b>8. </b> For device security always use a PIN lock to secure your phone/device as it is safer than pattern lock</li>
                                          </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-10">
                        <h2 class="title pl-2 pr-2 ls-m">Product Type</h2>
                        <div class="accordion accordion-border accordion-boxed accordion-plus">
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse2-1" class="collapse">What is difference between simple &
                                        variable product?</a>
                                </div>
                                <div id="collapse2-1" class="expanded">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                                            elit. Donec odio.
                                            Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                            Suspendisse
                                            urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec
                                            justo eget
                                            felis facilisis fermentum.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse2-2" class="expand">How to buy several products at
                                        once?</a>
                                </div>
                                <div id="collapse2-2" class="collapsed">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                                            elit. Donec odio.
                                            Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                            Suspendisse
                                            urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec
                                            justo eget
                                            felis facilisis fermentum.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse2-3" class="expand">How to add downloadable product?</a>
                                </div>
                                <div id="collapse2-3" class="collapsed">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                                            elit. Donec odio.
                                            Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                            Suspendisse
                                            urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec
                                            justo eget
                                            felis facilisis fermentum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
