<div class="page-wrapper">
</div>
<main class="main">
    <div class="page-header" style="background-image: url(assets/images/page-header/faq.jpg)">
        <h3 class="page-subtitle lh-1">Frequently</h3>
        <h1 class="page-title font-weight-bold text-capitalize lh-1">Asked Questions</h1>
    </div>
    <div class="page-content mb-10 pb-8">
        <section>
            <div class="container">
                <div class="row">
                  <div class="col-md-2"></div>
                    <div class="col-md-8 mt-10">
                        <h2 class="title pl-2 pr-2 ls-m text-left">Kejettia FAQs</h2>
                        <div class="accordion accordion-border accordion-boxed accordion-plus">
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse2-1" class="collapse">My order has been dispatched. Can I track it?</a>
                                </div>
                                <div id="collapse2-1" class="expanded">
                                    <div class="card-body">
                                      <h4 style="color: #ed1d25;">My order has been dispatched. Can I track it?</h4>
                                      <p>Once your order has been shipped, you’ll receive a tracking number via email. Note,
                                          it takes few minutes for shipping activity to update.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse2-2" class="expand">How long does shipping takes? </a>
                                </div>
                                <div id="collapse2-2" class="collapsed">
                                    <div class="card-body">
                                      <h4 style="color: #ed1d25;">How long does shipping takes?</h4>
                                        <p>It all depends on your country! Find your region and estimated delivery time in the table below.</p>
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th scope="col">Region</th>
                                              <th scope="col">Delivery Estimate</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <th scope="row">UNITED STATES <br> CANADA
                                                </th>
                                              <td>7 - 21 days</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">EUROPE<br>OCEANIA<br>SOUTH-EAST ASIA</th>
                                              <td>9 - 21 days</td>
                                            </tr>
                                            <tr>
                                              <th scope="row">ALL OTHER COUNTRIES</th>
                                              <td>14 - 35 days</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse2-3" class="expand">The following countries have restricted shipping due to covid-19:</a>
                                </div>
                                <div id="collapse2-3" class="collapsed">
                                    <div class="card-body">
                                      <h4 style="color: #ed1d25;">The following countries have restricted shipping due to covid-19:</h4>
                                         <h6>Bolivia, Brazil, Brunei, Chile, Costa Rica, Cyprus, Egypt, Estonia, Georgia, Honduras, Iceland, India, Jamaica, Jersey, Kosovo, Kuwait, Lesotho, Maldives, Malta, Mauritius, Mongolia, Morocco, Peru, Philippines, Qatar, Réunion, Saudi Arabia, Serbia, South Africa, Sri Lanka.
                                            Orders to these countries will be shipped when country specific restrictions are lifted.
                                          </h6>
                                          <p>Tracking numbers are sent by email after a short processing period.
                                            Please note, we require few minutes to process orders. We strive to ship all items on-time, however, in rare cases, it can take longer. Any orders not received within 8 weeks automatically qualify for a full-refund or reship free of charge!
                                            </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                              <div class="card-header">
                                  <a href="#collapse2-3" class="expand">Do you offer a guarantee? Can I return my items?</a>
                              </div>
                              <div id="collapse2-3" class="collapsed">
                                  <div class="card-body">
                                    <h4 style="color: #ed1d25;">Do you offer a guarantee? Can I return my items?</h4>
                                       <p>Of course. We offer an extended 30-day guarantee!
                                        If you aren’t 100% satisfied with your items, or received faulty goods, simply email our customer support team at  <a href="mailto:hello@kejettia.com"><b>hello@kejettia.com</b></a>
                                        Please include the email address associated with the order and describe the issue, include photos if possible. We always aim to respond typically within 24hours or less!
                                        </p>

                                  </div>
                              </div>
                          </div>
                          <div class="card">
                            <div class="card-header">
                                <a href="#collapse2-3" class="expand">Can I change or cancel my order?</a>
                            </div>
                            <div id="collapse2-3" class="collapsed">
                                <div class="card-body">
                                  <h4 style="color: #ed1d25;">Can I change or cancel my order?</h4>
                                     <p>Sure! You can cancel, or change your order within 24 hours of confirmation. Please contact us with your name and order number at: <a href="mailto:hello@kejettia.com"><b>hello@kejettia.com</b></a>
                                      After 24 hours, your order will have been processed and we won’t be able to make any changes or cancel it.
                                      </p>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                          <div class="card-header">
                              <a href="#collapse2-3" class="expand">What methods of payments do you take?</a>
                          </div>
                          <div id="collapse2-3" class="collapsed">
                              <div class="card-body">
                                <h4 style="color: #ed1d25;">What methods of payments do you take?</h4>
                                   <p>We accept ALL major credit cards, PayPal, and Apple Pay. We also accept, MTN MoMo, AirtelTigo cash and VodaCash
                                    All payments are securely processed with 128-bit encryption.
                                    </p>

                              </div>
                          </div>
                      </div>
                      <div class="card">
                        <div class="card-header">
                            <a href="#collapse2-3" class="expand">Do you offer promotional or affiliate opportunities?</a>
                        </div>
                        <div id="collapse2-3" class="collapsed">
                            <div class="card-body">
                              <h4 style="color: #ed1d25;">Do you offer promotional or affiliate opportunities?</h4>
                                 <p>We do and we’d love to hear from you!
                                  <a href="mailto:info@kejettia.com"><b>info@kejettia.com</b></a> for more information.
                                 </p>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                      <div class="card-header">
                          <a href="#collapse2-3" class="expand">Do I need to pay import duties?</a>
                      </div>
                      <div id="collapse2-3" class="collapsed">
                          <div class="card-body">
                            <h4 style="color: #ed1d25;">Do I need to pay import duties?</h4>
                               <p>Some packages may be subject to import duties depending on the country of receipt.
                                Please note, due to new EU VAT rules, there may be increased duty to pay on packages arriving to EU member states.
                                </p>

                          </div>
                      </div>
                  </div>
                        </div>
                    </div>
                    <div class="col-md-2 mt-10"></div>
                </div>
            </div>
        </section>
    </div>
</main>
