<div class="intro-banner intro-banner4 banner banner-fixed banner-radius h-100
                            overlay-light appear-animate" style="background-color: #fef0e3;" data-animation-options="{
                            'name': 'fadeInUpShorter',
                            'delay': '.2s'
                        }">
  <figure>
    <img src="assets/images/demos/demo5/banners/4.jpg" width="580" height="241" alt="banner" />
  </figure>
  <div class="banner-content w-100 x-50 y-50 text-center pl-2 pr-2">
    <h3 class="banner-title ls-m text-capitalize font-weight-bold">Our Brands</h3>
    <p class="mb-0 text-uppercase ls-m">
      <span *ngFor="let brand of brands">
        <a href="javascript:;">{{brand?.manufacturer}}</a> - <a href="javascript">{{brand?.location}}</a> - <a href=""></a><br />
      </span>
    </p>
  </div>
</div>
