<div class="widget widget-collapsible ">
  <h3 class="widget-title collapsed">Filter by Price</h3>
  <div class="widget-body mt-3" style="display: none;">
    <form action="#">
      <div class="filter-price-slider"></div>

      <div class="filter-actions">
        <div class="filter-price-text mb-4">Price:
          <span class="filter-price-range"></span>
        </div>
        <button type="submit" class="btn btn-dark btn-filter btn-rounded">Filter</button>
      </div>
    </form><!-- End Filter Price Form -->
  </div>
</div>
