  <div class="product text-center">
    <figure class="product-media">
      <a href="javascript:;" (click)="goToProduct()">
        <img src="assets/images/products/1.jpg" alt="product" width="280" height="315"
          style="background-color: #f5f5f5;" />

      </a>
      <div class="product-label-group" >
        <label class="product-label label-new" *ngIf="IsNew">new</label>
        <label class="product-label label-sale" *ngIf="discount>0">{{discount}}% off</label>
      </div>

      <div class="product-action-vertical">
        <a href="javascript:;" (click)="goToProduct()" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal"
          title="Add to cart"><i class="d-icon-bag"></i></a>
        <a href="javascript:;" (click)="addToWishList()" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i class="d-icon-heart"></i></a>
      </div>
      <div class="product-action">
        <a href="javascript:;" class="btn-product btn-quickview" title="Quick View" (click)="goToProduct()">Quick View</a>
      </div>
    </figure>
    <div class="product-details">
      <div class="product-cat"><a href="javascript:;">{{getCategory()}}</a>
      </div>
      <h3 class="product-name">
        <a href="javascript:;" (click)="goToProduct()">{{Product?.name}}</a>
      </h3>
      <div class="product-price">
        <span class="price">{{Product?.currentPrice |currency:'GHC ':'GH₵ '}}</span>
      </div>
      <div class="ratings-container">
        <div class="ratings-full">
          <span class="ratings" style="width:60%"></span>
          <span class="tooltiptext tooltip-top"></span>
        </div>
      </div>
    </div>
  </div>
