// height: 196px
img.homeellipse{
  height: 22em;
width: 22em;
padding: 1.5em
}

.owl-carousel .owl-item img {
  display: block;
  height: 24em;
  width: 24em;
}
.category-ellipse .category-media {
height: 22em;
width: 22em;
max-height: 22em;
max-width: 22em;
padding: 0.2rem !important;
margin: auto !important;
margin-top: 3rem !important;

}
