
    <main class="main">
        <div class="page-content">
            <section class="coming-section container text-center text-grey font-primary ">
                <div class="row align-items-center pt-10 pb-10">
                    <div class="col-md-7">
                        <img src="assets/images/coming-soon3.jpg" alt="coming soon" width="1019" height="1068">
                    </div>
                    <div class="col-md-5 order-md-first">
                        <span><img src="assets/images/logo.png" width="250em"></span>
                        <h1 class="mb-9 ls-m lh-1 font-italic text-uppercase">Coming Soon</h1>
                        <p>We're working on an awesome new site! Stay tuned for more information.
                            Subscribe to stay updated on our progress.</p>
                        <form action="#" class="ml-lg-8 mr-lg-8 mb-8">
                            <input type="email" class="form-control font-primary text-grey" name="email" id="email"
                                placeholder="Enter Your Email Address" required="">
                            <button class="btn btn-primary btn-link btn-icon-right" type="submit">subscribe</button>
                        </form>
                        <app-social-media></app-social-media>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- End Main -->
