<div class="intro-banner intro-banner1 banner banner-fixed banner-radius
                            overlay-dark appear-animate" style="background-color: #eeeeee;" data-animation-options="{
                            'name': 'fadeInLeftShorter',
                            'delay': '.2s'
                        }">
  <a href="#">
    <figure>
      <img [src]="image" width="280" height="241" alt="banner" />
    </figure>
  </a>
  <div class="banner-content">
    <h4 class="banner-subtitle text-uppercase font-weight-normal ls-s">
      {{Store?.name}}</h4>
    <h3 class="banner-title font-weight-normal text-capitalize ls-md">Verified shop</h3>
    <a href="demo5-shop.html" class="btn btn-dark btn-link btn-underline">Shop Now<i class="d-icon-arrow-right"></i></a>
  </div>
</div>


<!-- <div class="intro-banner intro-banner2 banner banner-fixed banner-radius
                        overlay-light appear-animate" style="background-color: #e0dfde;"
                        data-animation-options="{
                        'name': 'fadeInLeftShorter',
                        'delay': '.2s'
                    }">
                        <a href="#">
                            <figure>
                                <img src="assets/images/demos/demo5/banners/2.jpg" width="280" height="241"
                                    alt="banner" />
                            </figure>
                        </a>
                        <div class="banner-content y-50">
                            <h3 class="banner-title ls-m font-weight-normal mb-5">
                                <strong class="text-uppercase">Cosmetics</strong><br />Collection
                            </h3>
                            <a href="demo5-shop.html" class="btn btn-link btn-underline mb-1">Shop Now<i
                                    class="d-icon-arrow-right"></i></a>
                        </div>
                    </div> -->


<!--
 <div class="intro-banner intro-banner5 banner banner-fixed banner-radius
                            overlay-dark appear-animate" style="background-color: #f3f5f3;"
                            data-animation-options="{
                            'name': 'fadeInUpShorter',
                            'delay': '.2s'
                        }">
                            <a href="#">
                                <figure>
                                    <img src="assets/images/demos/demo5/banners/5.jpg" width="280" height="241"
                                        alt="banner" />
                                </figure>
                            </a>
                            <div class="banner-content">
                                <h4 class="banner-subtitle text-uppercase font-weight-normal ls-s">
                                    20% Off</h4>
                                <h3 class="banner-title ls-m font-weight-normal">Kids Store</h3>
                                <a href="demo5-shop.html" class="btn btn-link btn-underline">Shop Now<i
                                        class="d-icon-arrow-right"></i></a>
                            </div>
                        </div> -->
