<a href="https://www.facebook.com/sharer.php?u={{ URL }}" target="_blank" class="social-link social-facebook fab fa-facebook-f"></a>
<a href="https://twitter.com/share?url={{ URL }}&text={{ TITLE }}" target="_blank" class="social-link social-twitter fab fa-twitter"></a>
<!-- <a href="https://www.linkedin.com/shareArticle?url={{ URL }}" target="_blank" class="social-link social-pinterest fab fa-pinterest-p"></a> -->
<a href="https://api.whatsapp.com/send?text={{ TITLE }}%20{{ URL }}" target="_blank" class="social-link social-pinterest fab fa-whatsapp"></a>
<!-- <a href="https://telegram.me/share/url?url={{ URL }}&text={{ TITLE }}" target="_blank" class="social-link social-pinterest fab fa-telegram"></a> -->