<div class="category category-default1 category-absolute banner-radius overlay-zoom">
    <a href="demo5-shop.html">
        <figure class="category-media" style="background-color: #9bc6cb;">
            <img src="assets/images/demos/demo5/categories/4.jpg" alt="category" width="280"
                height="280" />
        </figure>
    </a>
    <div class="category-content font-weight-bold">
        <h4 class="category-name ls-l"><a href="demo5-shop.html">Sneakers</a>
        </h4>
    </div>
</div>
