<main class="main checkout" *ngIf="!selectedUser">
  <div class="card accordion">
    <div class="alert alert-light alert-primary alert-icon mb-4 card-header">
      <i class="fas fa-exclamation-circle"></i>
      <span class="text-body">Returning customer? </span>
      <a href="#alert-body1" class="text-primary collapse">Click here to login</a>
    </div>
    <div class="alert-body collapsed" id="alert-body1" style="padding: 0 10%;">
      <p>Is this your first purchase?, please proceed to the Billing section.</p>
      <app-login></app-login>
    </div>
  </div>
</main>

<main class="main cart">
  <div class="page-content pt-7 pb-10">
    <div class="container mt-7 mb-2">
      <div class="row">
        <div class="col-lg-8 col-md-12 pr-lg-4">
          <div *ngIf="!allProductInStock()" class="alert-body collapsed" id="alert-body1" style="padding: 0 10%; color:brown">
            <h5 style="color: red;">Some of your products are out of stock. Please review your cart</h5>
          </div>
          <table class="shop-table cart-table" *ngIf="Cart">
            <thead>
              <tr>
                <th><span>Product</span></th>
                <th></th>
                <th><span>Price</span></th>
                <th><span>quantity</span></th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Cart?.cartItems||[]">
                <td class="product-thumbnail">
                  <figure>
                    <a href="javascript:;" (click)="goToProduct(item?.product)">
                      <img [src]="getProductPhoto(item?.product)" width="100" height="100" alt="product">
                    </a>
                  </figure>
                </td>
                <td class="product-name">
                  <div class="product-name-section" ngClass="allProductInStock()? '': 'red' ">
                    <a href="javascript:;" (click)="goToProduct(item?.product)">{{item?.product?.name}}</a><br>
                    <a href="javascript:;" class="product-name" (click)="goToProduct(item?.product)" 
        *ngFor="let att of item?.productVariation?.attributes">{{att?.name}} : {{att?.option}}</a><br>
                    <ng-container *ngFor="let f of item?.features">
                      <a href="javascript:;" style="font-size: small;" (click)="goToProduct(item?.product)" >{{f?.name}}: {{f?.value}}</a>
                      <br>
                    </ng-container>
                  </div>
                </td>
                <td class="product-subtotal">
                  <span *ngIf="item?.productVariationId" class="amount">{{item?.productVariation?.price | currency: 'CAD ':'CAD$ '}}</span>
                  <span *ngIf="!item?.productVariationId" class="amount">{{item?.product?.currentPrice | currency: 'CAD ':'CAD$ '}}</span>
                </td>
                <td class="product-quantity">
                  <div class="input-group">
                    <button class="quantity-minus d-icon-minus" (click)="decreaseQuantity(item)"></button>
                    <input class="quantity form-control" type="number" min="1" max="1000000"
                      [(ngModel)]="item.quantity">
                    <button class="quantity-plus d-icon-plus" (click)="increaseQuantity(item)"></button>
                  </div>
                </td>
                <td class="product-price">
                  <span *ngIf="item?.productVariationId" class="amount">{{item?.productVariation?.price *item?.quantity | currency: 'CAD ':'CAD$ '}}</span>
                  <span *ngIf="!item?.productVariationId" class="amount">{{item?.product?.currentPrice*item?.quantity | currency: 'CAD ':'CAD$ '}}</span>
                </td>
                <td class="product-close">
                  <a href="javascript:;" (click)="deleteFromCart(item)" class="product-remove" title="Remove this product">
                    <i class="fas fa-times"></i>
                  </a>
                </td>
              </tr>

            </tbody>
          </table>
          <div class="cart-actions mb-6 pt-4">
            <a href="javascript:;" (click)="goBack()" class="btn btn-dark btn-md btn-rounded btn-icon-left mr-4 mb-4"><i
                class="d-icon-arrow-left"></i>Continue Shopping</a>
            <!-- <button type="submit" class="btn btn-outline btn-dark btn-md btn-rounded btn-disabled">Update Cart</button> -->
          </div>
          <!-- <div class="cart-coupon-box mb-8">
            <h4 class="title coupon-title text-uppercase ls-m">Coupon Discount</h4>
            <input type="text" name="coupon_code" class="input-text form-control text-grey ls-m mb-4" id="coupon_code"
              value="" placeholder="Enter coupon code here...">
            <button type="submit" class="btn btn-md btn-dark btn-rounded btn-outline">Apply Coupon</button>
          </div> -->
        </div>
        <aside class="col-lg-4 sticky-sidebar-wrapper">
          <div class="sticky-sidebar" data-sticky-options="{'bottom': 20}">
            <div class="summary mb-4">
              <h3 class="summary-title text-left">Cart Totals</h3>
              <table class="shipping">
                <tr class="summary-subtotal">
                  <td>
                    <h4 class="summary-subtitle">Subtotal</h4>
                  </td>
                  <td>
                    <p class="summary-subtotal-price">{{totalCash | currency:'CAD ':'CAD$ '}}</p>
                  </td>
                </tr>
                <tr class="sumnary-shipping shipping-row-last">
                  <td colspan="2">
                    <h4 class="summary-subtitle">Shipping | Delivery</h4>
                    <ul>
                      <!-- <li>
                        <div class="custom-radio">
                          <input type="radio" id="flat_rate" name="shipping" class="custom-control-input" disabled
                          [checked] ="totalShipCost>0">
                          <label class="custom-control-label" for="flat_rate">Flat rate &nbsp;&nbsp;
                            {{totalShipCost | currency:'CAD ':'CAD$ '}}</label>
                        </div>
                      </li> -->
                      <li>
                        <div class="custom-radio">
                          <input type="radio" id="free-shipping" name="shipping" class="custom-control-input" disabled
                          [checked] ="totalShipCost<=0" >
                          <label class="custom-control-label" for="free-shipping">Free
                            shipping</label>
                        </div>
                      </li>
                      <!-- <li>
                        <div class="custom-radio">
                          <input type="radio" id="local_pickup" name="shipping" class="custom-control-input" disabled>
                          <label class="custom-control-label" for="local_pickup">Local pickup</label>
                        </div>
                      </li> -->
                    </ul>
                  </td>
                </tr>
                <tr class="sumnary-shipping shipping-row-last" *ngIf="tax?.id">
                  <td colspan="2">
                    <h4 class="summary-subtitle"> {{tax?.name}} tax ({{tax?.value*100}}%)</h4>
                  </td>
                  <td>
                    <p class="summary-subtotal-price">{{tax?.value*totalCash | currency:'CAD ':'CAD$ '}}</p>
                  </td>
                </tr>
              </table>
              <div class="shipping-address">
                <!-- <label>Shipping to </label> -->
                <!-- <div class="form-group">
                  <ng-select [(ngModel)]="SelectedCity" [allowClear]="false" [multiple]="false" [options]="cities||[]"
                    placeholder="City">
                  </ng-select>
                </div> -->
                <!-- <input type="text" class="form-control" name="code" placeholder="ZIP" /> -->
                <!-- <a href="javascript:;" class="btn btn-md btn-dark btn-rounded btn-outline">Update totals</a> -->
              </div>
              <table class="total">
                <tr class="summary-subtotal">
                  <td>
                    <h4 class="summary-subtitle">Total</h4>
                  </td>
                  <td>
                    <p class="summary-total-price ls-s" *ngIf="!tax?.id">{{(totalCash+totalShipCost) | currency:'CAD ':'CAD$ '}}  <small>+ tax(%)</small></p>
                    <p class="summary-total-price ls-s" *ngIf="tax?.id">{{(totalCash+totalShipCost + (tax?.value*totalCash)) | currency:'CAD ':'CAD$ '}}</p>
                  </td>
                </tr>
              </table>
              <a href="javascript:;"  *ngIf="allProductInStock() && Cart?.cartItems" (click)="goToCheckOut()" class="btn btn-dark btn-rounded btn-checkout">Proceed to
                checkout</a>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</main>
