<p class="mb-2">The following addresses will be used on the checkout page by default.
</p>
<div class="row">
    <div class="col-sm-6 mb-4">
        <div class="">
            <a href="" class="card-body">
                <h5 class="card-title text-uppercase card card-address p-r active">Shipping  Address</h5>
            </a>
        </div>
    </div>
    <div class="col-sm-6 mb-4 ">
        <div class="">
            <a href="" class="card-body">
                <h5 class="card-title text-uppercase card card-address p-r">Permanent Address</h5>
            </a>
        </div>
    </div>

    <div class="col-sm-12 mb-4">
      <div class="tab-pane">
        <p class="mb-0">Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In
            nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium,
            ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget
            blandit nunc tortor eu nibh. Nullam mollis. Ut justo.</p>
    </div>
    </div>
</div>



