<main class="main">
  <div class="page-content">
      <section class="mt-10 mb-10 container text-grey font-primary ">
          <div class="row align-items-center pb-10">


              <div class="col-md-6 order-md-first">
                  <!-- <img src="assets/images/kbusiness.svg" alt="Kejettia Business" width="400"> -->
                  <h3>Kejettia | Business</h3>
                  <h3 class="section-title lh-1 font-weight-normal">We are tailored for selling & advertising products
                  </h3>
                  <p >Kejettia is an eCommerce website based in America/Europe. We specialize in 
                    selling a variety of products, ranging from clothing and accessories to electronics 
                    and household items. Customers can browse through our website and purchase products 
                    using a secure online payment system. Kejettia is committed to providing its customers 
                    with a seamless and convenient shopping experience, with fast and reliable shipping and 
                    excellent customer service.</p>
              </div>


              <div class="col-md-6 mb-10" style="border-left: solid 2px grey; height: 100%;" >
                <form class="pl-lg-2" action="#">
                  <h4 class="ls-m font-weight-bold">Let’s Connect
                    <p>Required fields are marked *</p>
                  </h4>
                  
                  <div class="row mb-2">
                    <!-- <div class="col-md-6 mb-4">
                      <input class="form-control" type="text" placeholder="First Name *" required>
                    </div>
                    <div class="col-md-6 mb-4">
                      <input class="form-control" type="text" placeholder="Last Name *" required>
                    </div>
                    <div class="col-12 mb-4">
                      <input class="form-control" type="email" placeholder="Email *" required>
                    </div> -->
                  </div>

                  <app-register [isBusinessRequest]="true"></app-register>

                </form>
              </div>
          </div>
      </section>
  </div>
</main>
