<main class="main">
  <div class="page-content">
      <section class="mt-10 mb-10 container text-grey font-primary ">
          <div class="row align-items-center pb-10">


              <div class="col-md-6 order-md-first">
                  <!-- <img src="assets/images/kbusiness.svg" alt="Kejettia Business" width="400"> -->
                  <h3>Kejettia | Business</h3>
                  <h3 class="section-title lh-1 font-weight-normal">Kejettia is a web application tailor for advertising products
                  </h3>
                  <p >For individual retail store,
                    wholesale stores and other intangible products like human skills. Any person who has a skill
                    which is a non-white color job related can also advertise for free. These includes skills such
                    as Masonry, Carpentry, Tiling, Cleaning e.t.c.</p>
              </div>


              <div class="col-md-6 mb-10" style="border-left: solid 2px grey; height: 100%;" >
                <form class="pl-lg-2" action="#">
                  <h4 class="ls-m font-weight-bold">Let’s Connect</h4>
                  <p>Required fields are marked *</p>

                  <div class="row mb-2">
                    <!-- <div class="col-md-6 mb-4">
                      <input class="form-control" type="text" placeholder="First Name *" required>
                    </div>
                    <div class="col-md-6 mb-4">
                      <input class="form-control" type="text" placeholder="Last Name *" required>
                    </div>
                    <div class="col-12 mb-4">
                      <input class="form-control" type="email" placeholder="Email *" required>
                    </div> -->
                  </div>

                  <app-register></app-register>

                </form>
              </div>
          </div>
      </section>
  </div>
</main>
