<header class="header">

  <!-- <div class="up_header_ads" >
    <a href="#" >
      <img alt="ads" src="" style="display: block; margin-left: auto; margin-right: auto;">
    </a>
  </div> -->

  <div class="header-top">
    <div class="container">
      <div class="header-left">
        <p class="welcome-msg">Welcome to kejettia.com!</p>
      </div>
      <div class="header-right">
        <div class="dropdown">
          <a href="javascript:;">USD</a>
          <ul class="dropdown-box">
            <li><a href="javascript:;">USD</a></li>
            <!-- <li><a href="#EUR">EUR</a></li> -->
          </ul>
        </div>
        <!-- End DropDown Menu -->
        <div class="dropdown ml-5">
          <a href="javascript:;">ENG</a>
          <ul class="dropdown-box">
            <li>
              <a href="javascript:;">ENG</a>
            </li>
            <!-- <li>
                            <a href="#EUR">FRH</a>
                        </li> -->
          </ul>
        </div>
        <!-- End DropDown Menu -->
        <span class="divider"></span>

        <a [routerLink]="['/main/pages/about']" routerLinkActive="router-link-active" class="contact d-lg-show"><i
            class="d-icon-earth"></i>About Us</a>
        <a [routerLink]="['/main/pages/contact']" routerLinkActive="router-link-active" class="contact d-lg-show"><i
            class="d-icon-map"></i>Contact</a>
        <a [routerLink]="['/main/pages/faq']" routerLinkActive="router-link-active" class="help d-lg-show"><i
            class="d-icon-info"></i> Need Help</a>


        <a [routerLink]="['/main/pages/auth/login']" routerLinkActive="router-link-active" *ngIf="!loggedUser?.id"><i
            class="d-icon-user"></i>
          &nbsp; Login &nbsp;
        </a>
        <span class="delimiter" *ngIf="!loggedUser?.id">/</span>
        <a class="ml-0" [routerLink]="['/main/pages/auth/register']" routerLinkActive="router-link-active"
          *ngIf="!loggedUser?.id">Register</a>
        <span class="delimiter" *ngIf="!loggedUser?.id">/</span>
        <a class="ml-0" [routerLink]="['/main/pages/auth/forgot']" routerLinkActive="router-link-active"
          *ngIf="!loggedUser?.id && !isMobile">Forgot
          password</a>

        <div *ngIf="loggedUser?.id">
          <a [routerLink]="['/main/pages/my-account']" routerLinkActive="router-link-active"><i class="d-icon-user"></i>
            &nbsp; <span *ngIf="loggedUser?.profile">{{loggedUser?.profile?.firstName}}
              {{loggedUser?.profile?.lastName}}</span>
            <span *ngIf="!loggedUser?.profile">{{loggedUser?.email}}</span></a>
        </div>
        <!-- End of Login -->
      </div>
    </div>
  </div>
  <!-- End HeaderTop -->
  <div class="header-middle sticky-header fix-top sticky-content">
    <div class="container">
      <div class="header-left">
        <a href="javascript:;" class="mobile-menu-toggle">
          <i class="d-icon-bars2"></i>
        </a>
        <a [routerLink]="'/main/pages/home'" class="logo">
          <img src="assets/images/logo.svg" alt="logo" width="153" height="44" />
        </a>
        <!-- End Logo -->
        <div class="header-search hs-simple">
          <app-search-input></app-search-input>
        </div>
        <!-- End Header Search -->
      </div>
      <div class="header-right">
        <a href="tel:+233012345678" class="icon-box icon-box-side">
          <div class="icon-box-icon mr-0 mr-lg-2">
            <i class="d-icon-phone"></i>
          </div>
          <div class="icon-box-content d-lg-show">
            <h4 class="icon-box-title">Call Us Now:</h4>
            <p>+233 01 234 5678</p>
          </div>
        </a>
        <!-- <span class="divider"></span>
        <div class="dropdown cart-dropdown type2 cart-offcanvas mr-0 mr-lg-2">
          <a href="javascript:;" class="cart-toggle label-block link">
            <div class="cart-label d-lg-show">
              <span class="cart-name">SHOP NOW:</span>
              <span class="cart-price">STORES</span>
            </div>
            <i class="d-icon-shoppingbag"></i>
          </a>
        </div> -->
        <span class="divider"></span>
        <div class="dropdown cart-dropdown type2 cart-offcanvas mr-0 mr-lg-2">
          <a href="javascript:;" (click)="goToWishlist()" class="wishlist cart-toggle label-block link">
            <i class=" d-icon-heart">
              <span class="cart-count" style="margin-right: 8px;">{{wishList?.length||0}}</span>
            </i>
          </a>
        </div>
        <span class="divider"></span>
        <div class="dropdown cart-dropdown type2 cart-offcanvas mr-0 mr-lg-2">
          <app-cart-mini></app-cart-mini>
          <!-- End Dropdown Box -->
        </div>
      </div>
    </div>
  </div>
</header>
