<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <p class="welcome-msg">Welcome to kejettia.com!</p>
            </div>
            <div class="header-right">
                <div class="dropdown">
                    <a href="#currency">USD</a>
                    <ul class="dropdown-box">
                        <li><a href="#USD">USD</a></li>
                        <!-- <li><a href="#EUR">EUR</a></li> -->
                    </ul>
                </div>
                <!-- End DropDown Menu -->
                <div class="dropdown ml-5">
                    <a href="#language">ENG</a>
                    <ul class="dropdown-box">
                        <li>
                            <a href="#USD">ENG</a>
                        </li>
                        <!-- <li>
                            <a href="#EUR">FRH</a>
                        </li> -->
                    </ul>
                </div>
                <!-- End DropDown Menu -->
                <span class="divider"></span>
                <a href="contact-us.html" class="contact d-lg-show"><i class="d-icon-map"></i>Contact</a>
                <a href="#" class="help d-lg-show"><i class="d-icon-info"></i> Need Help</a>
                <a class="login-link" href="assets/ajax/login.html" data-toggle="login-modal"><i
                        class="d-icon-user"></i>Sign in</a>
                <span class="delimiter">/</span>
                <a class="register-link ml-0" href="assets/ajax/login.html" data-toggle="login-modal">Register</a>
                <!-- End of Login -->
            </div>
        </div>
    </div>
    <!-- End HeaderTop -->
    <div class="header-middle sticky-header fix-top sticky-content">
        <div class="container">
            <div class="header-left">
                <a href="#" class="mobile-menu-toggle">
                    <i class="d-icon-bars2"></i>
                </a>
                <a href="demo5.html" class="logo">
                    <img src="assets/images/demos/demo5/logo.png" alt="logo" width="153" height="44" />
                </a>
                <!-- End Logo -->

                <div class="header-search hs-simple">
                    <form action="#" class="input-wrapper">
                        <input type="text" class="form-control" name="search" autocomplete="off"
                            placeholder="Search..." required />
                        <button class="btn btn-search" type="submit">
                            <i class="d-icon-search"></i>
                        </button>
                    </form>
                </div>
                <!-- End Header Search -->
            </div>
            <div class="header-right">
                <a href="tel:#" class="icon-box icon-box-side">
                    <div class="icon-box-icon mr-0 mr-lg-2">
                        <i class="d-icon-phone"></i>
                    </div>
                    <div class="icon-box-content d-lg-show">
                        <h4 class="icon-box-title">Call Us Now:</h4>
                        <p>0(800) 123-456</p>
                    </div>
                </a>
                <span class="divider"></span>
                <div class="dropdown cart-dropdown type2 cart-offcanvas mr-0 mr-lg-2">
                    <a href="#" class="cart-toggle label-block link">
                        <div class="cart-label d-lg-show">
                            <span class="cart-name">SHOP NOW:</span>
                            <span class="cart-price">STORES</span>
                        </div>
                        <i class="d-icon-shoppingbag"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
