.up_header_ads{
  background-color:#276076;
  height: 6.9vh;
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .up_header_ads{
      background-color:#276076;
      height: 3.5vh;
    }


}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .up_header_ads{
      background-color:#276076;
      height: 3.5vh;
    }

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .up_header_ads{
      background-color:#276076;
      height: 3.5vh;
    }

}

