<div class="page-wrapper">
</div>
<h1 class="d-none">Riode - Responsive eCommerce HTML Template</h1>

<app-header></app-header>
<!-- End Header -->

<router-outlet></router-outlet>
<!-- <app-home></app-home> -->

<app-footer></app-footer>
<!-- End of Footer -->

<!-- Sticky Footer -->
<app-sticky-footer></app-sticky-footer>

<!-- Scroll Top -->
<app-sticky-footer id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i
    class="d-icon-arrow-up"></i></app-sticky-footer>

<!-- MobileMenu -->
<app-mobile-menu></app-mobile-menu>

<app-newsletter-popup></app-newsletter-popup>
