<div class="sidebar-overlay">
  <a class="sidebar-close" href="javascript:;"><i class="d-icon-times"></i></a>
</div>
<a href="javascript:;" class="sidebar-toggle"><i class="fas fa-chevron-right"></i></a>
<div class="sidebar-content">

  <div class="sticky-sidebar mt-5">
    <ul class="menu vertical-menu category-menu mb-4">
      <li><a href="javascript:;" (click)="goToCategories()" class="menu-title">Product Categories</a></li>
      <li *ngFor="let cat of Categories.slice(0,10)">
        <a href="javascript:;" (click)="search(cat)"><i class="{{cat?.icon}}" ></i>{{cat?.name}}</a>
      </li>

    </ul>
    <div class="banner banner-fixed overlay-zoom overlay-dark">
      <figure>
        <img src="assets/images/banner3.jpg" width="180" height="312" alt="banner"
          style="background-color: #26303c;" />
      </figure>
      <!-- <div class="banner-price-info font-weight-bold text-white text-uppercase">
        20-22<sup>th</sup> April</div>
      <div class="banner-content text-center w-100">
        <h4 class="banner-subtitle d-inline-block bg-primary font-weight-semi-bold text-uppercase">
          Ultimate Sale</h4>
        <h3 class="banner-title ls-m lh-1 text-uppercase text-white font-weight-bold">
          Up
          to 70%</h3>
        <p class="mb-4 font-primary text-white lh-1">Discount Selected Items</p>
      </div> -->
    </div>
    <app-popular-products></app-popular-products>
    <!-- <app-blog-widget></app-blog-widget> -->
    <!-- <app-testimonial-widget></app-testimonial-widget> -->
  </div>
</div>
