<section class="mt-10 pt-8 mb-8 appear-animate" data-animation-options="{
    'name': 'fadeIn',
    'delay': '.2s'
}" *ngIf="stores?.length>0">
  <div class="container">
    <h2 class="title title-simple title-center mb-5">Best Sellers</h2>
    <div class="owl-carousel owl-theme row owl-nav-full cols-lg-4 cols-md-3 cols-2" data-owl-options="{
            'items': 4,
            'dots': true,
            'nav': false,
            'loop': false,
            'margin': 20,
            'responsive': {
                '0': {
                    'items': 2
                },
                '576': {
                    'items': 3
                },
                '768': {
                    'items': 4
                },
                '992': {
                    'items': 5
                },
                '1200': {
                    'items': 6,
                    'dots': false,
                    'nav': true
                }
            }
        }">
      <app-best-seller-item *ngFor="let store of stores" [Store]="store"></app-best-seller-item>
    </div>
  </div>
</section>
