<section class="banner banner-cta parallax mb-8" data-option="{'offset': -75}"
data-image-src="assets/images/demos/demo5/cta.jpg" style="background-color: #b8cdce;">
<div class="container text-center">
    <div class="banner-content appear-animate" data-animation-options="{
        'name': 'blurIn',
        'delay': '.2s',
        'duration': '.75s'
    }">
        <h3 class="banner-title mb-1">Sign up to <strong class="text-uppercase">KEJETTIA</strong></h3>
        <p class="ls-s text-white">It only takes a second to find out about our latest <br />news
            and
            promotions...</p>
        <form action="#" class="input-wrapper input-wrapper-round input-wrapper-inline">
            <input type="email" class="form-control text-body bg-white" name="email" id="email"
                placeholder="Email address here..." required />
            <button class="btn btn-sm btn-dark btn-icon-right" type="submit">subscribe<i
                    class="d-icon-arrow-right"></i></button>
        </form>
        <div class="social-links">
            <a href="#" class="social-link social-facebook fab fa-facebook-f"></a>
            <a href="#" class="social-link social-twitter fab fa-twitter"></a>
            <a href="#" class="social-link social-linkedin fab fa-linkedin-in"></a>
            <a href="#" class="social-link social-google fab fa-google"></a>
        </div>
    </div>
</div>
</section>
