<section class="banner banner-cta mb-7 text-center"
style="background-image: url(assets/images/banner.jpg);  background-color: #c5d1d2;">
<div class="banner-content w-100 appear-animate" data-animation-options="{
    'delay': '.2s',
    'name': 'blurIn'
}">
  <h4 class="banner-subtitle font-weight-bold ls-s text-white text-uppercase">Coming
    soon</h4>
  <h2 class="banner-title font-weight-normal ls-m"><strong>Black Friday</strong>
    Sale</h2>
  <p class="font-primary text-dark ls-normal text-capitalize lh-1">Get 10% off first
    order</p>
  <form action="#" method="get" class="input-wrapper input-wrapper-inline">
    <input type="email" class="form-control mb-4" name="email" id="email"
      placeholder="Email address here..." required />
    <button class="btn btn-secondary btn-sm" type="submit">Subscribe<i
        class="d-icon-arrow-right"></i></button>
  </form>
</div>
</section>
