.storeslider.banner.banner-fixed.intro-slide1 img{
  // width: 474px;
  width: 100%;
  height:auto;
  max-height:474px !important;
  object-fit: cover;
}

.banner.banner-fixed.intro-slide1.storeslider {
  background-color: #e8e8e8 !important;
}
