
<div class="owl-carousel owl-theme row owl-dot-inner owl-dot-white intro-slider animation-slider cols-1 mb-4" [attr.data-owl-options]="SliderConfig"
  *ngIf="Photos?.length>0">

  <div class="storeslider banner banner-fixed intro-slide{{i+1}}" *ngFor="let photo of Photos; let i=index;"
   >
    <figure  [style.background-image]="'url('+fileUrl+photo?.source+')'" style="width:880px; height:474px; background-size:cover; background-position: 0%; background-repeat:no-repeat"
   >
      <!-- <img [src]="fileUrl+photo?.source" alt="intro-banner" width="880" height="474"
        style="background-color: #d3d4d5;" /> -->
        <!-- <span>hrere</span> -->
    </figure>
<!--
    <div class="banner-content y-50 text-right" *ngIf="i%2==0">
      <h4 class="banner-subtitle text-body font-weight-semi-bold mb-3 slide-animate" data-animation-options="{
                          'name': 'fadeInDownShorter',
                          'duration': '1s'
                      }">Up To <strong class="text-primary">25% Off</strong></h4>
      <h2 class="banner-title text-uppercase ls-l slide-animate" data-animation-options="{
                          'name': 'fadeInDownShorter',
                          'delay': '.3s',
                          'duration': '1s'
                      }">For Women’s</h2>
      <p class="font-weight-semi-bold ls-m text-body mb-6 slide-animate" data-animation-options="{
                          'name': 'fadeInDownShorter',
                          'delay': '.4s',
                          'duration': '1s'
                      }">Start at $event12.00</p>
      <a href="/stores/pages/products" class="btn btn-dark btn-rounded slide-animate" data-animation-options="{
                          'name': 'fadeInDownShorter',
                          'delay': '.5s',
                          'duration': '1s'
                      }">Shop Now</a>
    </div>

    <div class="banner-content y-50 pb-3" *ngIf="i%2>0">
      <div class="slide-animate" data-animation-options="{
                          'name': 'fadeInUpShorter',
                          'duration': '1s'
                      }">
        <h4 class="banner-subtitle font-weight-normal ls-m mb-1">Deals and
          Promotions</h4>
        <h2 class="banner-title text-uppercase mb-3 ls-l">Season Clothing</h2>
        <h4 class="banner-price-info text-uppercase ls-l">Start at <strong class="text-primary">$event29.00</strong></h4>
        <p class="text-dark lh-1 ls-m mb-4">* Get Plus Discount Buying Package
        </p>
        <a href="/stores/pages/products" class="btn btn-white btn-rounded">Shop Now</a>
      </div>
    </div> -->

  </div>


</div>
