<p class="mb-2">The following addresses will be used on the checkout page by default.
</p>
<div class="row">
    <div class="col-sm-6 mb-4">
        <div class="card card-address">
            <div class="card-body">
                <h5 class="card-title text-uppercase">Billing Address</h5>
                <p>John Doe<br>
                    Riode Company<br>
                    Steven street<br>
                    El Carjon, CA 92020
                </p>
                <a href="#" class="btn btn-link btn-secondary btn-underline">Edit <i
                        class="far fa-edit"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-4">
        <div class="card card-address">
            <div class="card-body">
                <h5 class="card-title text-uppercase">Shipping Address</h5>
                <p>You have not set up this type of address yet.</p>
                <a href="#" class="btn btn-link btn-secondary btn-underline">Edit <i
                        class="far fa-edit"></i></a>
            </div>
        </div>
    </div>
</div>