<app-loader-full *ngIf="showLoader"></app-loader-full>
<main class="main" *ngIf="!showLoader">
  <div class="page-content">
    <section class="intro-section appear-animate">
      <div class="container">
        <div class="row grid">

          <!-- categories-menu -->
          <div class="grid-item col-xl-3 col-lg-4 height-x2 category-list d-lg-block d-none">
            <app-categories-menu [StoreCategories]="StoreCategories?.slice(0,7)"></app-categories-menu>
          </div>

          <!-- main-carouel -->
          <div class="grid-item col-xl-6 col-lg-5 col-md-8 height-x2">
            <app-main-carousel [StoreCategories]="MainCarouselCategories"></app-main-carousel>
          </div>

          <!-- <div class="grid-item col-lg-3 col-md-4 col-sm-6 height-x1">
            <app-intro-banner-three *ngIf="premiumStores?.length>0" [Store]="premiumStores[0]"></app-intro-banner-three>
          </div> -->

          <!-- <div class="grid-item col-lg-3 col-md-4 col-sm-6 height-x1">
            <app-intro-banner-three *ngIf="premiumStores?.length>1" [Store]="premiumStores[1]"></app-intro-banner-three>
          </div> -->

          <div class="grid-item col-lg-6 col-md-4 height-x1 into_banner_one">
            <app-intro-banner-one [Title]="'THIS MONTH SALE'" [Content]="'70% DISCOUNT'"
              [SearchKey]="'bag'"></app-intro-banner-one>
          </div>

          <div class="grid-item col-lg-3 col-md-4 col-sm-6 height-x1 ph_remove_banner">
            <app-brands></app-brands>
          </div>

          <!-- <div class="grid-item col-lg-3 col-md-4 col-sm-6 height-x1 ph_remove_banner">
            <app-intro-banner-three *ngIf="premiumStores?.length>2" [Store]="premiumStores[2]"></app-intro-banner-three>
          </div> -->

          <div class="grid-space col-1"></div>
        </div>
      </div>
    </section>

    <app-tagline-widget></app-tagline-widget>

    <app-popular-categories></app-popular-categories>


    <div class="container">
      <div class="row mt-10">
        <div class="grid-item col-lg-6 col-md-6 height-x1">
          <app-intro-banner-one [BackgroundImage]="'assets/images/demos/demo5/banners/gifme.gif'" [Title]="''"
            [Content]="''" [SearchKey]="'kitchen'"></app-intro-banner-one>
        </div>
        <div class="grid-item col-lg-6 col-md-6 height-x1">
          <app-intro-banner-one [BackgroundImage]="'assets/images/demos/demo5/banners/gifme2.gif'"
            [Title]="'HOME & KITCHEN'" [Content]="'APPLIANCES'" [SearchKey]="''"></app-intro-banner-one>
        </div>
      </div>
    </div>


    <app-other-categories [ProductCategoryItems]="ProductCategoryItems"></app-other-categories>

    <!-- <app-best-sellers></app-best-sellers> -->

    <app-product-list-widget></app-product-list-widget>

    <!-- <app-signup-banner></app-signup-banner> -->

    <app-blog-section></app-blog-section>

    <!-- <app-instagram></app-instagram> -->
  </div>
</main>

<!-- Scroll Top -->
<a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="d-icon-arrow-up"></i></a>