<div class="menu-banner menu-banner3 banner banner-fixed">
  <figure>
    <img [src]="getCatPhoto()" alt="Banner" width="280" height="374" />
  </figure>
  <!-- <div class="banner-content banner-date">
    <h6 class=" text-white text-right font-weight-bold text-uppercase lh-1 mb-0">
      20-22<sup>tm</sup>April</h6>
  </div>
  <div class="banner-content x-50 w-100 text-center">
    <h4
      class="banner-subtitle bg-primary d-inline-block mb-1 text-white lh-1 ls-normal text-uppercase font-weight-semi-bold">
      Ultimate Sale</h4>
    <h3 class="banner-title text-white text-uppercase font-weight-bold lh-1 ls-l mb-0">
      Up To 70%</h3>
    <p class="text-white font-weight-normal ls-normal mb-2">
      Discount Selected Items</p>
    <a href="javascript:;" class="btn btn-white btn-link btn-underline">Shop Now<i
        class="d-icon-arrow-right"></i></a>
  </div> -->
</div>
