<h3 class="title title-simple text-left text-uppercase" *ngIf="title">{{title}}</h3>



<!-- <div class="form-checkbox mb-6" (click)="newAddressBoxClicked()" > -->
  <div class="form-checkbox mb-6 " style="cursor:pointer;"  *ngIf=" deliveryAddresses?.length>0">
    <!-- <input type="checkbox" class="custom-checkbox" id="different-address" name="different-address" [(ngModel)]="hideForm"> -->
    <label class="ls-s" style="cursor:pointer;" for="different-address" (click)="newAddressBoxClicked()">
      <button class="btn btn-rounded btn-sm"><i class="fa fa-address-book"></i></button>
    <u *ngIf="hideForm">Click to ship to a different address?</u>
    <u *ngIf="!hideForm">Click to select old shipping address?</u></label>
  </div>
  
<div *ngIf="hideForm && deliveryAddresses?.length>0">
  <div class="form-group">
    <ng-select [allowClear]="false" [multiple]="false" [options]="deliveryAddresses||[]" placeholder=""
      (selected)="SelectedDeliveryAddress=$event" placeholder="Select from existing addresses">
    </ng-select>
  </div>
</div>

<!-- <div *ngIf="!newAddress">
  <br>
  <h4 class="title title-simple text-center text-uppercase w-100">Or</h4>
  <br>
</div> -->


<div [hidden]="hideForm " [formGroup]="deliveryForm">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <label>First Name *</label>
      <input type="text" class="form-control" name="first-name" formControlName="firstName" required="" />
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <label>Last Name *</label>
      <input type="text" class="form-control" name="last-name" formControlName="lastName" required="" />
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <label>Other Name(s) </label>
      <input type="text" class="form-control" name="other-name" formControlName="otherName" required="" />
    </div>
  </div>
  <div class="alert alert-danger" role="alert"
    *ngIf="(deliveryForm.get('firstName')?.errors) && deliveryForm.get('firstName')?.dirty">
    Provide your first name.
  </div>
  <div class="alert alert-danger" role="alert"
    *ngIf="(deliveryForm.get('lastName')?.errors) && deliveryForm.get('lastName')?.dirty">
    Provide your last name.
  </div>
  <div class="alert alert-danger" role="alert"
    *ngIf="(deliveryForm.get('otherName')?.errors) && deliveryForm.get('otherName')?.dirty">
    Provide your other name(s).
  </div>



  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <label>Email Address *</label>
      <input type="text" class="form-control" name="email-address" formControlName="email" required="" />
    </div>

    <div class="col-sm-6 col-xs-12">
      <label>Phone *</label>
      <input type="text" class="form-control" name="phone" formControlName="phone" required="" />
    </div>

  </div>
  <div class="alert alert-danger" role="alert"
    *ngIf="deliveryForm.get('email')?.errors && deliveryForm.get('email')?.dirty">
    Invalid email!
  </div>
  <div class="alert alert-danger" role="alert"
    *ngIf="(deliveryForm.get('phone')?.errors || !_isPhone) && deliveryForm.get('phone')?.dirty">
    Invalid phone number.
  </div>

  <app-create-address (addressEvent)="address = $event"></app-create-address>
</div>

<!-- <div *ngIf="hideForm && this.selectedDeliveryAddress?.id">
  <div class="address-info pb-8 mb-6">
    <div class="address-detail p-8" style="background: #f3f3f3; padding: 2%">
     <p> {{selectedDeliveryAddress?.fname}} {{selectedDeliveryAddress?.lname}} {{selectedDeliveryAddress?.mname}}</p>
      <p>{{selectedDeliveryAddress?.address?.street}} {{selectedDeliveryAddress?.address?.suburb}}</p>
      <p>{{selectedDeliveryAddress?.address?.city}}</p>
      <p>{{selectedDeliveryAddress?.address?.state}}</p>
      <p>{{selectedDeliveryAddress?.address?.country}}</p>
      <p>({{selectedDeliveryAddress?.address?.postCode}})</p>
    <p class="email">Phone: {{selectedDeliveryAddress?.phone}}</p>
    <p class="email"> {{selectedDeliveryAddress?.email}} </p>
    </div>
  </div>
</div> -->

<div class="summary pt-5"   *ngIf="hideForm && this.selectedDeliveryAddress?.id">
  <h3 class="title title-simple text-left text-uppercase">Selected Address</h3>
  <table class="order-table">
    <thead>
      <!-- <tr>
        <th>Product</th>
        <th></th>
      </tr> -->
    </thead>
    <tbody>
      <tr>
        <td class="product-name">Full name </td>
        <td class="product-total text-body">{{selectedDeliveryAddress?.fname}} {{selectedDeliveryAddress?.lname}} {{selectedDeliveryAddress?.mname}}</td>
      </tr>
      <tr>
        <td class="product-name">Email</td>
        <td class="product-total text-body">{{selectedDeliveryAddress?.email}}</td>
      </tr>
      <tr>
        <td class="product-name">Phone</td>
        <td class="product-total text-body">{{selectedDeliveryAddress?.phone}}</td>
      </tr>
      <tr>
        <td class="product-name">Address line 1</td>
        <td class="product-total text-body">{{selectedDeliveryAddress?.address?.street}} {{selectedDeliveryAddress?.address?.suburb}}</td>
      </tr>
      <tr>
        <td class="product-name">City</td>
        <td class="product-total text-body">{{selectedDeliveryAddress?.address?.city}}</td>
      </tr>
      <tr>
        <td class="product-name">Province | State</td>
        <td class="product-total text-body">{{selectedDeliveryAddress?.address?.state}}</td>
      </tr>
      <tr>
        <td class="product-name">Country</td>
        <td class="product-total text-body">{{selectedDeliveryAddress?.address?.country}}</td>
      </tr>
      <tr>
        <td class="product-name">Zip | Postal code</td>
        <td class="product-total text-body">{{selectedDeliveryAddress?.address?.postCode}}</td>
      </tr>
      
    </tbody>
  </table>
</div>

<!-- <h2 class="title title-simple text-uppercase text-left">Additional Information</h2>
<label>Order Notes (Optional)</label>
<textarea class="form-control pb-2 pt-2 mb-0" cols="30" rows="5"
  placeholder="Notes about your order, e.g. special notes for delivery"></textarea> -->