 <div class="row">
   <aside class="col-xl-3 col-lg-4 sidebar sidebar-fixed sticky-sidebar-wrapper home-sidebar">
     <app-home2-categories [Categories]="storeCategories"></app-home2-categories>
   </aside>
   <div class="col-xl-9 col-lg-8">
     <section class="intro-section mb-6">
       <app-home2-slider [Photos]="sliderPhotos"></app-home2-slider>
       <div class="row" *ngIf="storeCategories?.length>0">
         <div class="col-md-6 mb-4">
           <app-home2-category-badge [Category]="storeCategories[0]"></app-home2-category-badge>
         </div>
         <div class="col-md-6 mb-4" *ngIf="storeCategories?.length>1">
           <app-home2-category-badge [Category]="storeCategories[1]"></app-home2-category-badge>
         </div>
         <div class="col-md-6 mb-4" *ngIf="storeCategories[0]?.productCategories?.length>0&&storeCategories?.length<=0">
           <app-home2-category-badge [Category]="storeCategories[0]?.productCategories[0]"></app-home2-category-badge>
         </div>
       </div>
     </section>

     <app-featured-products [Products]="featuredProducts"></app-featured-products>
     <app-black-friday-ad></app-black-friday-ad>
     <app-product-sales-widget></app-product-sales-widget>
     <app-brands-horizontal [Brands]="brands" *ngIf="brands?.length>0"></app-brands-horizontal>
   </div>
 </div>
