<form  [formGroup]="regForm">
  <div class="form-group mb-3">
    <input id="fname" class="form-control" type="text" name="fname" class="form-control" formControlName="firstName"
    placeholder="First name">
</div>
<div class="form-group mb-3">
  <input id="lname" class="form-control" type="text" name="lname" class="form-control" formControlName="lastName"
  placeholder="Last name">
</div>
  <div class="form-group mb-3">
    <input id="tel" class="form-control" type="tel" class="form-control" formControlName="reg_phone"
    placeholder="Phone" (keyup)="onValidate('phone')">
  </div>
  <div class="form-group mb-3">
    <input id="reg_email" type="email" formControlName="reg_email" (keyup)="onValidate('email')" placeholder="Email"
    class="form-control">
  </div>
  <div class="form-group">
    <input id="reg_password" type="password" placeholder="Password" formControlName="reg_password"
    (keyup)="onValidate('password')" class="form-control">
  </div>
  <div class="form-group">
    <input id=" reg_password2" type="password" placeholder="Password again" formControlName="reg_password2"
    (keyup)="onValidate('password2')" class="form-control">
  </div>
  <div class="form-footer">
      <div class="form-checkbox">
          <input type="checkbox" class="custom-checkbox" id="register-agree" name="register-agree"
              required formControlName="agreement" />
          <label class="form-control-label" for="register-agree">I agree to the
              privacy policy</label>
      </div>
  </div>
  <button class="btn btn-dark btn-block btn-rounded"  (click)="onRegister()">Register</button>
</form>
<!-- <div class="form-choice text-center">
  <label class="ls-m">or Register With</label>
  <div class="social-links">
      <a href="#" class="social-link social-google fab fa-google border-no"></a>
      <a href="#" class="social-link social-facebook fab fa-facebook-f border-no"></a>
      <a href="#" class="social-link social-twitter fab fa-twitter border-no"></a>
  </div>
</div> -->
