<form [formGroup]="regForm">
  <div class="form-group mb-3">
    <input id="fname" class="form-control" type="text" name="fname" class="form-control" formControlName="firstName"
      placeholder="First name">
  </div>
  <div class="alert alert-danger" role="alert"
    *ngIf="(regForm.get('firstName')?.errors) && regForm.get('firstName')?.dirty">
    Provide your first name.
  </div>
  <div class="form-group mb-3">
    <input id="lname" class="form-control" type="text" name="lname" class="form-control" formControlName="lastName"
      placeholder="Last name">
  </div>
  <div class="alert alert-danger" role="alert"
    *ngIf="(regForm.get('lastName')?.errors) && regForm.get('lastName')?.dirty">
    Provide your last name.
  </div>
  <div class="form-group mb-3">
    <input id="oname" class="form-control" type="text" name="oname" class="form-control" formControlName="otherName"
      placeholder="Other name(s)">
  </div>
  <div class="alert alert-danger" role="alert"
    *ngIf="(regForm.get('lastName')?.errors) && regForm.get('lastName')?.dirty">
    Provide your other name(s).
  </div>
  <div class="form-group mb-3">
    <input id="tel" class="form-control" type="tel" class="form-control" formControlName="reg_phone" placeholder="Phone"
      (keyup)="onValidate('phone')">
  </div>
  <div class="alert alert-danger" role="alert"
  *ngIf="(regForm.get('reg_phone')?.errors || !_isPhone) && regForm.get('reg_phone')?.dirty">
  Invalid phone number.
</div>
  <div class="form-group mb-3">
    <input id="reg_email" type="email" formControlName="reg_email" (keyup)="onValidate('email')" placeholder="Email"
      class="form-control">
  </div>
  <div class="alert alert-danger" role="alert"
  *ngIf="regForm.get('reg_email')?.errors && regForm.get('reg_email')?.dirty">
  Invalid email!
</div>
  <div class="form-group">
    <input id="reg_password" type="password" placeholder="Password" formControlName="reg_password"
      (keyup)="onValidate('password')" class="form-control">
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="
                        (!_isPassword) && regForm.get('reg_password')?.dirty">
      Password too weak (number, character, symbol and length of 8)
    </div>
  <div class="form-group">
    <input id=" reg_password2" type="password" placeholder="Password again" formControlName="reg_password2"
      (keyup)="onValidate('password2')" class="form-control">
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="!_isMatch&& regForm.get('reg_password2')?.dirty">
    Password do not much!
  </div>

  <p *ngIf="errorMsg " style="color:#ed1d25">{{errorMsg}}</p>

  <div class="form-footer">
    <div class="form-checkbox">
      <input type="checkbox" class="custom-checkbox" id="register-agree" name="register-agree" required
        formControlName="agreement" />
      <label class="form-control-label" for="register-agree">I agree to the
        privacy policy</label>
    </div>
  </div>

  <div style="margin-left: 14%; margin-bottom: 5%;" [ngClass]="{'recaptchafailed': recaptchafailed}" >
    <re-captcha (resolved)="resolveRecaptcha($event)" ></re-captcha>
  </div>
  <button class="btn btn-dark btn-block btn-rounded" (click)="onRegister()">Register</button>
</form>
<div class="form-choice text-center">
  <label class="ls-m">or Register With</label>
  <div class="social-links">
    <app-facebook-login></app-facebook-login> &nbsp;&nbsp;
    <app-google-login></app-google-login>
      <!-- <a href="javascript:;" class="social-link social-google fab fa-google border-no"></a>
      <a href="javascript:;" class="social-link social-facebook fab fa-facebook-f border-no"></a>
      <a href="javascript:;" class="social-link social-twitter fab fa-twitter border-no"></a> -->
  </div>
</div>
