<app-loader-mini TopMargin="15" [Message]="'Processing order'" [hidden]="!showLoader"></app-loader-mini>
<main class="main checkout">
  <div class="page-content pt-0 pb-10 mb-10">
    <div class="container mt-7">
      <form action="#" class="form">
        <div class="row">

          <div class="col-xs-12 col-lg-8 text-center p-0">
            <div class="card px-0  pb-0 ">
              <!-- <h3 class="title title-simple text-center text-uppercase">Sign Up Your User Account</h3> -->
              <p>Please verify or update existing information</p>

              <form id="msform">
                <!-- progressbar -->
                <ul id="progressbar" style=" display: flex; flex-direction: row;  justify-content: center;align-content: stretch;">
                  <!-- <li [class.active]="next === 0" id="account"><strong>Personal</strong></li> -->
                  <li [class.active]="next === 0" id="personal"><strong>Billing Address</strong></li>
                  <li [class.active]="next === 1" id="confirm"><strong>Delivery Address</strong></li>
                </ul>
                <!-- <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div> -->
                <br>
                <!--  Personal details -->
                <!-- <fieldset *ngIf="next === 0">
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">
                        <h2 class="fs-title">Personal Information:</h2>
                      </div>
                      <div class="col-5">
                        <h4 class="steps">Step 1 - 3</h4>
                      </div>
                    </div>
                  </div>
                  <input (click)="showForm('account')" type="button" name="next" class="next action-button"
                    value="Next" />
                </fieldset> -->
                <!-- billing Address -->
                <div [ngSwitch]="next">

                  <fieldset *ngSwitchCase="0">
                    <div class="row text-left">
                      <app-address #address [HideCoordinate]="true" [Title]="false"
                        [ShowSaveButton]="false" [hideSaveAlert]="true"></app-address>
                    </div>
                    <input type="button" (click)="showForm(1)" name="next" class="next action-button" value="Next" />
                    <!-- <input type="button"  (click)="showForm(0)" name="previous" class="previous action-button-previous" value="Previous" *ngIf="next>0"/> -->
                  </fieldset>
                  <!-- Shipping Address -->
                  <fieldset *ngSwitchCase="1">
                    <div class="row text-left">
                      <app-create-delivery-address (valueChange)="addressChangeWatch=$event" #deliveryAddress [Title]="''"></app-create-delivery-address>
                    </div>
                    <!-- <input type="button" (click)="showForm(2)" name="next" class="next action-button" 
                    value="Next"  />-->
                    <input style="float:left" type="button" (click)="showForm(0)" name="previous" class="previous action-button-previous"
                      value="Back" *ngIf="next>0" />
                    <input style="float:right" type="button" *ngIf="!deliveryAddress.hideForm && next>0" (click)="deliveryAddress.saveDeliveryAddress()" name="previous" class="previous action-button-previous"
                      value="Save" />
                  </fieldset>
                </div>
              </form>
            </div>
          </div>











          <aside class="col-xs-12 col-lg-4 sticky-sidebar-wrapper">
            <div class="sticky-sidebar mt-1" data-sticky-options="{'bottom': 50}" [hidden]="true">
              <div class="summary pt-5">
                <h3 class="title title-simple text-left text-uppercase">Payment Method</h3>
                <table class="order-table">
                  <thead>
                    <tr>
                      <!-- <th>Select mode of payment</th><br> -->
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let mth of paymentGateWays">
                      <div class="custom-radio ">
                        <input type="radio" id="payment" name="payment" class="custom-control-input"
                          [checked]="mth?.id == selectedMethod?.id" (click)="PaymentGateWay=mth">
                        <label style="font-size: 14px;" (click)="PaymentGateWay=mth" class="custom-control-label"
                          for="{{mth?.title}}">{{mth?.title}} &nbsp;&nbsp;
                        </label>
                      </div>
                    </tr>

                    <!-- <tr>
                      <div class="custom-radio">
                        <input type="radio" id="free-payment" name="payment" class="custom-control-input" 
                          [checked]="totalShipCost<=0">
                        <label class="custom-control-label" for="free-payment">Free
                          shipping</label>
                      </div>
                    </tr> -->
                  </tbody>
                </table>

              </div>
            </div>


            <!-- Checkout table -->
            <div class="sticky-sidebar mt-1" data-sticky-options="{'bottom': 50}">
              <div class="summary pt-5">
                <h3 class="title title-simple text-left text-uppercase">Your Order</h3>
                <table class="order-table">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of cart?.cartItems||[]" class="echitem" (click)="goToProduct(item?.product)" >
                      <td class="product-image">
                        <img style="width: 40%; cursor: pointer;" [src]="getPhotoUrl(item?.product?.photos)" alt="Product Image">
                      </td>
                      <td class="product-name" style="cursor: pointer;">{{item?.product?.name.slice(0, 30)}}
                        <span class="product-quantity">×&nbsp;{{item?.quantity}}</span>
                      </td>
                      <td *ngIf="item?.productVariationId" class="product-total text-body">{{item?.productVariation?.price|currency:' ':'CAD$ '}}</td>
                      <td *ngIf="!item?.productVariationId" class="product-total text-body">{{item?.product?.currentPrice|currency:' ':'CAD$ '}}</td>    
                    </tr>

                    <tr class="summary-subtotal">
                      <td>
                        <h4 class="summary-subtitle">Subtotal</h4>
                      </td>
                      <td class="summary-subtotal-price pb-0 pt-0">{{totalCash |currency:' ':'CAD$ '}}
                      </td>
                    </tr>

                    <tr>
                      <td class="product-name">Delivery</td>
                      <td class="product-total text-body">{{totalShipCost |currency:' ':'CAD$ '}}</td>
                    </tr>
                    <tr *ngIf="tax?.id">
                      <td class="product-name">{{tax?.name}} Tax ({{tax?.value*100}}%)</td>
                      <td class="product-total text-body">{{tax?.value*totalCash | currency:'CAD ':'CAD$ '}}</td>
                    </tr>

                    <tr class="summary-total">
                      <td class="pb-0" style="width: 50%!important">
                        <h4 class="summary-subtitle">Total</h4>
                      </td>
                      <td class=" pt-0 pb-0" style="width: 50%!important">
                        <p class="summary-total-price ls-s" *ngIf="!tax?.id">{{(totalCash+totalShipCost) | currency:'CAD':'CAD$ '}} </p>
                        <p class="summary-total-price ls-s" *ngIf="tax?.id">{{(totalCash+totalShipCost +
                          (tax?.value*totalCash)) | currency:'CAD ':'CAD$ '}}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button type="submit" class="btn btn-dark btn-rounded btn-order" *ngIf="paymentGateWays && showPlaceOrderbutton"
                  (click)="placeOrder()">Place
                  Order</button>
              </div>
            </div>
          </aside>
        </div>
      </form>
      <!-- <app-product-sales-widget></app-product-sales-widget> -->
    </div>
  </div>
</main>