<main class="main order">
  <div class="page-content pt-7 pb-10 mb-10">
    <div class="container mt-8">

      <div class="step-by pr-4 pl-4">
        <h4 *ngIf="consolidatedOrder?.state === 'PENDING'" class="pending"><i class="d-icon-check"></i> Payment successful</h4>
        <!-- <app-paystack *ngIf="consolidatedOrder?.state === 'NEW'"></app-paystack> -->
        <app-paynow *ngIf="consolidatedOrder?.state === 'NEW'"></app-paynow>
      </div>
      <div class="order-results" *ngIf="consolidatedOrder">
        <div class="overview-item">
          <span>Order number:</span>
          <strong>#{{consolidatedOrder?.id}}</strong>
        </div>
        <div class="overview-item">
          <span>Status:</span>
          <strong>
            <span *ngIf="consolidatedOrder?.state" class="unknown"
              [ngClass]="{'new': consolidatedOrder.state === 'NEW', 'pending': consolidatedOrder.state === 'PENDING'}">
              {{consolidatedOrder?.state}}</span></strong>
        </div>
        <div class="overview-item">
          <span>Date:</span>
          <strong>{{consolidatedOrder?.dateCreated | date:'dd/MM/yyyy'}}</strong>
        </div>
        <div class="overview-item">
          <span>Email:</span>
          <strong>{{consolidatedOrder?.deliveryAddress?.email}}</strong>
        </div>
        <div class="overview-item">
          <span>Total:</span>
          <strong>{{consolidatedOrder?.grandTotal | currency: 'CAD ':'CAD$ '}}</strong>
        </div>
        <!-- <div class="overview-item">
                    <span>Payment method:</span>
                    <strong>Cash on delivery</strong>
                </div> -->
      </div>

      <h2 class="title title-simple text-left pt-4 font-weight-bold text-uppercase">Order Details</h2>
      <div class="consolidatedOrder-details">
        <table class="consolidatedOrder-details-table">
          <thead>
            <tr class="summary-subtotal">
              <td>
                <h3 class="summary-subtitle">Product</h3>
              </td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td class="product-name"><img [src]="getPhoto(item?.product)" height="80" width="80"
                  style="margin-bottom: 15px;">
                {{item?.product?.name}} <span> <i class="fas fa-times"></i>
                  {{item?.quantity}}</span></td>
                  <span *ngIf="item?.productVariationId" class="amount">{{item?.productVariation?.price | currency: 'CAD ':'CAD$ '}}</span>
                  <span *ngIf="!item?.productVariationId" class="amount">{{item?.product?.currentPrice | currency: 'CAD ':'CAD$ '}}</span>
            </tr>
            <tr class="summary-subtotal">
              <td>
                <h4 class="summary-subtitle">Subtotal:</h4>
              </td>
              <td class="summary-subtotal-price">{{subtotal | currency:'CAD ':'CAD$ '}}</td>
            </tr>
            <tr class="summary-subtotal" *ngIf="deliveryCost!==0">
              <td>
                <h4 class="summary-subtitle">Delivery</h4>
              </td>
              <td class="summary-subtotal-price">{{deliveryCost | currency:'CAD ':'CAD$ '}}</td>
            </tr>
            <!-- <tr class="summary-subtotal">
              <td>
                <h4 class="summary-subtitle">Discount</h4>
              </td>
              <td class="summary-subtotal-price">0%</td>
            </tr> -->
            <tr>
              <td class="product-name">Delivery</td>
              <td class="product-total text-body">{{deliveryCost |currency:' ':'CAD$ '}}</td>
            </tr>
            <tr *ngIf="tax?.id">
              <td class="product-name">Tax ({{tax?.value*100}}%)</td>
              <td class="product-total text-body">{{tax?.value*subtotal | currency:'CAD ':'CAD$ '}}</td>
            </tr>
            <!-- <tr class="summary-subtotal" *ngIf="deliveryCost == 0">
              <td>
                <h4 class="summary-subtitle">Shipping:</h4>
              </td>
              <td class="summary-subtotal-price">Free shipping</td>
            </tr> -->
            <!-- <tr class="summary-subtotal">
              <td>
                <h4 class="summary-subtitle">Payment method:</h4>
              </td>
              <td class="summary-subtotal-price">{{consolidatedOrder?.paymentMethod}}</td>
            </tr> -->
            <tr class="summary-subtotal">
              <td>
                <h4 class="summary-subtitle">Total:</h4>
              </td>
              <td>
                <p class="summary-total-price text-primary">{{consolidatedOrder?.grandTotal | currency:'CAD ':'CAD$ '}}
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 class="title title-simple text-left pt-10 mb-2">Billing Address</h2>

      <div class="address-info pb-8 mb-6">
        <p class="address-detail pb-2">
          {{consolidatedOrder?.deliveryAddress?.fname}} {{consolidatedOrder?.deliveryAddress?.lname}}
          {{consolidatedOrder?.deliveryAddress?.mname}}<br>
          {{consolidatedOrder?.deliveryAddress?.address?.street}}
          {{consolidatedOrder?.deliveryAddress?.address?.suburb}}<br>
          {{consolidatedOrder?.deliveryAddress?.address?.city}}<br>
          {{consolidatedOrder?.deliveryAddress?.address?.state}} -
          {{consolidatedOrder?.deliveryAddress?.address?.country}}
          ({{consolidatedOrder?.deliveryAddress?.address?.postCode}})<br>
        </p>
        <p class="email">Phone: {{consolidatedOrder?.deliveryAddress?.phone}}</p>
        <p class="email"> {{consolidatedOrder?.deliveryAddress?.email}} </p>
      </div>
      <a href="javascript:;" (click)="back()" class="btn btn-icon-left btn-dark btn-back btn-rounded btn-md mb-4">
        <i class="d-icon-arrow-left"></i> Back to List</a>
    </div>
  </div>
</main>
