<div class="product text-center">
    <figure class="product-media" style="background-color: #f7f8fa;">
        <a href="demo5-product.html">
            <img src="assets/images/demos/demo5/products/11.jpg" alt="Blue Pinafore Denim Dress"
                width="180" height="180">
        </a>
        <div class="product-action-vertical">
            <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                data-target="#addCartModal" title="Add to cart"><i
                    class="d-icon-bag"></i></a>
            <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
        </div>
        <div class="product-action">
            <a href="#" class="btn-product btn-quickview" title="Quick View">Quick View</a>
        </div>
    </figure>
    <div class="product-details">
        <div class="product-cat">
            <a href="demo5-shop.html">Bags</a>
        </div>
        <h3 class="product-name">
            <a href="demo5-product.html">Women’s Yellowish Band Handbag</a>
        </h3>
        <div class="product-price">
            <span class="price">$230.99</span>
        </div>
        <div class="ratings-container">
            <div class="ratings-full">
                <span class="ratings" style="width:60%"></span>
                <span class="tooltiptext tooltip-top"></span>
            </div>
            <a href="demo5-product.html" class="rating-reviews">( 6 reviews )</a>
        </div>
    </div>
</div>