
<div>
    <div class="" id="">
        <div class="whatsapp-main">
            <div type="floating" class="whatsapp-wrapper hide-whatsapp" style="width: 360px;">
                <div color="rgb(29, 33, 41)" role="button" tabindex="0" class="close_whatsapp"></div>
                <div class="whatsapp-header">
                    <div size="52" class="support-avatar">
                        <div class="avatar-wrapper">
                            <div class="avatar-img"></div>
                        </div>
                    </div>
                    <div class="header-info">
                        <div class="whatsapp-name"><strong>Kejettia</strong></div>
                        <div class="whatsapp-reply-time">Typically replies within few minutes</div>
                    </div>
                </div>
                <div class="whatsapp-background">
                    <div class="whatsapp-message-container">
                        <div class="loading-animation">
                            <div class="dot-pulse"></div>
                        </div>
                        <div class="whatsapp-message-wrapper">
                            <div class="chat-body-wrapper">
                                <div class="whatsapp-chat-name">Kejettia</div>
                                <div class="whatsapp-chat-message">
                                    <p>Hello👋🏽, welcome to Kejettia!</p>
                                    <p>How may we serve you today?</p>
                                </div>
                                <div class="whatsapp-chat-time" id="clock"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a role="button" target="popup" href="https://api.whatsapp.com/send?phone=233507442944" title="WhatsApp"
                    class="whatsapp-btn">
                    <svg class="whatsapp-send-icon-small" xmlns="http://www.w3.org/2000/svg" version="1" height="20"
                        viewBox="0 0 90 90">
                        <path
                            d="M90 44a44 44 0 0 1-66 38L0 90l8-24A44 44 0 0 1 46 0c24 0 44 20 44 44zM46 7C25 7 9 24 9 44c0 8 2 15 7 21l-5 14 14-4a37 37 0 0 0 58-31C83 24 66 7 46 7zm22 47l-2-1-7-4-3 1-3 4h-3c-1 0-4-1-8-5-3-3-6-6-6-8v-2l2-2 1-1v-2l-4-8c0-2-1-2-2-2h-2l-3 1c-1 1-4 4-4 9s4 11 5 11c0 1 7 12 18 16 11 5 11 3 13 3s7-2 7-5l1-5z"
                            fill="#FFF" />
                    </svg>
                    <span class="chat-button-text" >Start Chat</span>
                </a>

                <div style="display: flex; justify-content: center; align-items: center;"></div>
            </div>
            <div class="whatsapp-popup-button pulsating-circle" id="whatsapp-popup">
                <div class="whatsapp-notify"></div>
                <div class="whatsapp-button-main">
                    <svg class="whatsapp-send-icon-big" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="32" height="32" x="0" y="0" viewBox="0 0 512.002 512.002" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g>
                        <path xmlns="http://www.w3.org/2000/svg"d="M256.002,32.001c-141.152,0-256,100.48-256,224c0,50.624,19.328,99.2,54.816,138.24L3.874,453.569  c-4.096,4.736-5.024,11.424-2.4,17.088c2.592,5.696,8.288,9.344,14.528,9.344h240c141.152,0,256-100.48,256-224  S397.154,32.001,256.002,32.001z" fill="#ffffff" data-original="#2196f3" class=""/>
                        <g xmlns="http://www.w3.org/2000/svg">
                            <circle cx="256.002" cy="256.001" r="32" fill="#ed1d25" data-original="#fafafa" class=""/>
                            <circle cx="128.002" cy="256.001" r="32" fill="#ed1d25" data-original="#fafafa" class=""/>
                            <circle cx="384.002" cy="256.001" r="32" fill="#ed1d25" data-original="#fafafa" class=""/>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                        </g>
                        </g></svg>
                </div>
            </div>
        </div>
    </div>
</div>
