@import url(../../../../../assets/css/style.min.css);


img.profile_r {
    border-radius: 50%;
    height: auto;
    width: 100% !important;
}

p.profile_text {
    font-size: 1.2em !important;
}

button.profile_edit {
    background: transparent !important;
    border: transparent !important;
}