<section class="instagram-section pb-8 mb-10 appear-animate">
    <div class="container">
        <h2 class="title title-simple text-normal title-center mb-6">Follow Us on Instagram</h2>
        <div class="row grid">
            <div class="grid-item col-lg-2 col-sm-4 col-6 height-x1">
                <figure class="instagram appear-animate" style="background-color: #ced0cf;"
                    data-animation-options="{
                    'name': 'fadeInLeftShorter',
                    'delay': '.3s'
                }">
                    <a href="javascript:;">
                        <img src="assets/images/demos/demo5/instagrams/1.jpg" alt="Instagram" width="180"
                            height="180" />
                    </a>
                </figure>
            </div>
            <div class="grid-item col-lg-2 col-sm-4 col-6 height-x1">
                <figure class="instagram appear-animate" style="background-color: #dddcda;"
                    data-animation-options="{
                    'name': 'fadeInLeftShorter',
                    'delay': '.2s'
                }">
                    <a href="javascript:;">
                        <img src="assets/images/demos/demo5/instagrams/2.jpg" alt="Instagram" width="180"
                            height="180" />
                    </a>
                </figure>
            </div>
            <div class="grid-item col-lg-2 col-sm-4 col-6 height-x1">
                <figure class="instagram appear-animate" style="background-color: #eaebe9;"
                    data-animation-options="{
                    'name': 'fadeInRightShorter',
                    'delay': '.2s'
                }">
                    <a href="javascript:;">
                        <img src="assets/images/demos/demo5/instagrams/3.jpg" alt="Instagram" width="180"
                            height="180" />
                    </a>
                </figure>
            </div>
            <div class="grid-item col-lg-2 col-sm-4 col-6 height-x1">
                <figure class="instagram appear-animate" style="background-color: #b4b4b6;"
                    data-animation-options="{
                    'name': 'fadeInRightShorter',
                    'delay': '.3s'
                }">
                    <a href="javascript:;">
                        <img src="assets/images/demos/demo5/instagrams/4.jpg" alt="Instagram" width="180"
                            height="180" />
                    </a>
                </figure>
            </div>
            <div class="grid-item col-lg-4 col-sm-8 height-x2">
                <div class="testimonial-wrapper">
                    <h3 class="title title-simple font-weight-semi-bold text-normal">What they
                        say about us</h3>
                    <div class="owl-carousel owl-theme row cols-1 appear-animate"
                        data-animation-options="{
                        'delay': '.2s'
                    }" data-owl-options="{
                        'items': 1,
                        'nav': false,
                        'dots': true,
                        'loop': false
                    }">
                        <div class="testimonial testimonial-centered">
                            <div class="testimonial-info">
                                <figure class="testimonial-author-thumbnail">
                                    <img src="assets/images/agents/4.jpg" alt="user" width="40" height="40" />
                                </figure>
                                <blockquote class="comment">
                                    “ Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                    Phasellus hendrerit.
                                    Pellente sque aliquet nibh nec urna. In nisi neque ”
                                </blockquote>
                                <cite>
                                    Jenson Gregory
                                    <span>Customer</span>
                                </cite>
                            </div>
                        </div>
                        <div class="testimonial testimonial-centered">
                            <div class="testimonial-info">
                                <figure class="testimonial-author-thumbnail">
                                    <img src="assets/images/agents/4.jpg" alt="user" width="40" height="40" />
                                </figure>
                                <blockquote class="comment">“ Lorem ipsum dolor sit amet, consectetuer
                                    adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec
                                    urna. In nisi neque ”</blockquote>
                                <cite>
                                    Mary Adams
                                    <span>Customer</span>
                                </cite>
                            </div>
                        </div>
                        <div class="testimonial testimonial-centered">
                            <div class="testimonial-info">
                                <figure class="testimonial-author-thumbnail">
                                    <img src="assets/images/agents/4.jpg" alt="user" width="40" height="40" />
                                </figure>
                                <blockquote class="comment">“ Lorem ipsum dolor sit amet, consectetuer
                                    adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec
                                    urna. In nisi neque ”</blockquote>
                                <cite>
                                    Owen Hunt
                                    <span>Customer</span>
                                </cite>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item col-lg-2 col-sm-4 col-6 height-x1">
                <figure class="instagram appear-animate" style="background-color: #3b414d;"
                    data-animation-options="{
                    'name': 'fadeInLeftShorter',
                    'delay': '.3s'
                }">
                    <a href="javascript:;">
                        <img src="assets/images/demos/demo5/instagrams/5.jpg" alt="Instagram" width="180"
                            height="180" />
                    </a>
                </figure>
            </div>
            <div class="grid-item col-lg-2 col-sm-4 col-6 height-x1">
                <figure class="instagram appear-animate" style="background-color: #d1cecb;"
                    data-animation-options="{
                    'name': 'fadeInLeftShorter',
                    'delay': '.2s'
                }">
                    <a href="javascript:;">
                        <img src="assets/images/demos/demo5/instagrams/6.jpg" alt="Instagram" width="180"
                            height="180" />
                    </a>
                </figure>
            </div>
            <div class="grid-item col-lg-2 col-sm-4 col-6 height-x1">
                <figure class="instagram appear-animate" style="background-color: #e3e7ea;"
                    data-animation-options="{
                    'name': 'fadeInRightShorter',
                    'delay': '.2s'
                }">
                    <a href="javascript:;">
                        <img src="assets/images/demos/demo5/instagrams/7.jpg" alt="Instagram" width="180"
                            height="180" />
                    </a>
                </figure>
            </div>
            <div class="grid-item col-lg-2 col-sm-4 col-6 height-x1">
                <figure class="instagram appear-animate" style="background-color: #162021;"
                    data-animation-options="{
                    'name': 'fadeInRightShorter',
                    'delay': '.3s'
                }">
                    <a href="javascript:;">
                        <img src="assets/images/demos/demo5/instagrams/8.jpg" alt="Instagram" width="180"
                            height="180" />
                    </a>
                </figure>
            </div>
            <div class="grid-space col-1"></div>
        </div>
    </div>
</section>
