<main class="main">
    <div class="page-content">
        <section class="intro-section appear-animate">
            <div class="container">
                <div class="row grid">

                    <!-- categories-menu -->
                    <div class="grid-item col-xl-3 col-lg-4 height-x2 category-list d-lg-block d-none">                       
                        <app-categories-menu></app-categories-menu>
                    </div>

                    <!-- main-carouel -->
                    <div class="grid-item col-xl-6 col-lg-5 col-md-8 height-x2">
                        <app-main-carouel></app-main-carouel>
                    </div>

                    <div class="grid-item col-lg-3 col-md-4 col-sm-6 height-x1">
                        <div class="intro-banner intro-banner1 banner banner-fixed banner-radius 
                            overlay-dark appear-animate" style="background-color: #eeeeee;"
                            data-animation-options="{
                            'name': 'fadeInLeftShorter',
                            'delay': '.2s'
                        }">
                            <a href="#">
                                <figure>
                                    <img src="assets/images/demos/demo5/banners/1.jpg" width="280" height="241"
                                        alt="banner" />
                                </figure>
                            </a>
                            <div class="banner-content">
                                <h4 class="banner-subtitle text-uppercase font-weight-normal ls-s">
                                    New Arrivals</h4>
                                <h3 class="banner-title font-weight-normal text-capitalize ls-md">Spring
                                    Essentials</h3>
                                <a href="demo5-shop.html" class="btn btn-dark btn-link btn-underline">Shop Now<i
                                        class="d-icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-item col-lg-3 col-md-4 col-sm-6 height-x1">
                        <div class="intro-banner intro-banner2 banner banner-fixed banner-radius 
                            overlay-light appear-animate" style="background-color: #e0dfde;"
                            data-animation-options="{
                            'name': 'fadeInLeftShorter',
                            'delay': '.2s'
                        }">
                            <a href="#">
                                <figure>
                                    <img src="assets/images/demos/demo5/banners/2.jpg" width="280" height="241"
                                        alt="banner" />
                                </figure>
                            </a>
                            <div class="banner-content y-50">
                                <h3 class="banner-title ls-m font-weight-normal mb-5">
                                    <strong class="text-uppercase">Cosmetics</strong><br />Collection
                                </h3>
                                <a href="demo5-shop.html" class="btn btn-link btn-underline mb-1">Shop Now<i
                                        class="d-icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-item col-lg-6 col-md-4 height-x1">
                        <div class="intro-banner intro-banner3 banner banner-fixed banner-radius 
                            overlay-dark appear-animate" style="background-color: #3a4146;"
                            data-animation-options="{
                            'name': 'fadeInUpShorter',
                            'delay': '.2s'
                        }">
                            <a href="#">
                                <figure>
                                    <img src="assets/images/demos/demo5/banners/3.jpg" width="580" height="241"
                                        alt="banner" />
                                </figure>
                            </a>
                            <div class="banner-content y-50">
                                <h4 class="banner-subtitle text-uppercase font-weight-bold text-primary">BLACK
                                    FRIDAY SALE</h4>
                                <h3 class="banner-title text-white lh-1 font-weight-bold">Fingerprints Padlock
                                </h3>
                                <a href="demo5-shop.html" class="btn btn-white btn-link btn-underline">Shop Now<i
                                        class="d-icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-item col-lg-3 col-md-4 col-sm-6 height-x1">
                        <div class="intro-banner intro-banner4 banner banner-fixed banner-radius h-100 
                            overlay-light appear-animate" style="background-color: #fef0e3;"
                            data-animation-options="{
                            'name': 'fadeInUpShorter',
                            'delay': '.2s'
                        }">
                            <figure>
                                <img src="assets/images/demos/demo5/banners/4.jpg" width="580" height="241"
                                    alt="banner" />
                            </figure>
                            <div class="banner-content w-100 x-50 y-50 text-center pl-2 pr-2">
                                <h3 class="banner-title ls-m text-capitalize font-weight-bold">Our Brands</h3>
                                <p class="mb-0 text-uppercase ls-m">
                                    <a href="#">New York</a> - <a href="#">Paris</a> - <a
                                        href="#">Barcelona</a><br />
                                    <a href="#">Milan</a> - <a href="#">Rome</a> - <a href="#">London</a> - <a
                                        href="#">Dubai</a><br />
                                    <a href="#">Moscow</a> - <a href="#">Tokyo</a> - <a
                                        href="#">Shanghai</a><br />
                                    <a href="#">Mumbai</a> - <a href="#">Melbourne</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="grid-item col-lg-3 col-md-4 col-sm-6 height-x1">
                        <div class="intro-banner intro-banner5 banner banner-fixed banner-radius 
                            overlay-dark appear-animate" style="background-color: #f3f5f3;"
                            data-animation-options="{
                            'name': 'fadeInUpShorter',
                            'delay': '.2s'
                        }">
                            <a href="#">
                                <figure>
                                    <img src="assets/images/demos/demo5/banners/5.jpg" width="280" height="241"
                                        alt="banner" />
                                </figure>
                            </a>
                            <div class="banner-content">
                                <h4 class="banner-subtitle text-uppercase font-weight-normal ls-s">
                                    20% Off</h4>
                                <h3 class="banner-title ls-m font-weight-normal">Kids Store</h3>
                                <a href="demo5-shop.html" class="btn btn-link btn-underline">Shop Now<i
                                        class="d-icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-space col-1"></div>
                </div>
            </div>
        </section>

        <app-tagline-widget></app-tagline-widget>

        <app-popular-categories></app-popular-categories>

        <app-best-sellers></app-best-sellers>

       <app-signup-banner></app-signup-banner>

        <!-- <app-blog-section></app-blog-section> -->

        <!-- <app-instagram></app-instagram> -->
    </div>
</main>