<main class="main">
    <div class="page-content">
        <section class="intro-section appear-animate">
            <div class="container">
                <div class="row grid">

                    <!-- categories-menu -->
                    <div class="grid-item col-xl-3 col-lg-4 height-x2 category-list d-lg-block d-none">                       
                        <app-categories-menu></app-categories-menu>
                    </div>

                    <!-- main-carouel -->
                    <div class="grid-item col-xl-6 col-lg-5 col-md-8 height-x2">
                        <app-main-carouel></app-main-carouel>
                    </div>

                    <div class="grid-item col-lg-3 col-md-4 col-sm-6 height-x1">
                        <app-intro-banner-three></app-intro-banner-three>
                    </div>

                    <div class="grid-item col-lg-3 col-md-4 col-sm-6 height-x1">
                        <app-intro-banner-three></app-intro-banner-three>
                    </div>

                    <div class="grid-item col-lg-6 col-md-4 height-x1">
                        <app-intro-banner-one></app-intro-banner-one>
                    </div>

                    <div class="grid-item col-lg-3 col-md-4 col-sm-6 height-x1">
                        <app-intro-banner-two></app-intro-banner-two>
                    </div>

                    <div class="grid-item col-lg-3 col-md-4 col-sm-6 height-x1">
                        <app-intro-banner-three></app-intro-banner-three>
                    </div>

                    <div class="grid-space col-1"></div>
                </div>
            </div>
        </section>

        <app-tagline-widget></app-tagline-widget>

        <app-popular-categories></app-popular-categories>
        
        <app-other-categories></app-other-categories>

        <app-best-sellers></app-best-sellers>     

       <app-signup-banner></app-signup-banner>

        <!-- <app-blog-section></app-blog-section> -->

        <!-- <app-instagram></app-instagram> -->
    </div>
</main>