<footer class="footer appear-animate" data-animation-options="{'name': 'fadeIn', 'duration': '1s'}">
  <div class="container">
    <div class="footer-top">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <a href="/main/pages/home" class="logo-footer">
            <img src="assets/images/logo-footer.svg" alt="logo-footer" width="154" height="43" />
          </a>
          <!-- End FooterLogo -->
        </div>
        <div class="col-lg-5">
          <div class="widget widget-newsletter form-wrapper form-wrapper-inline">
            <div class="newsletter-info mx-auto mr-lg-2 ml-lg-4">
              <h4 class="widget-title">Subscribe to our Newsletter</h4>
              <p>Get all the latest information, Sales and Offers.</p><br>
              <form action="#" class="input-wrapper input-wrapper-inline">
                <input type="email" class="form-control" name="email" id="newsletter_email"
                  placeholder="Email address here..." required />
                <button class="btn btn-primary btn-md btn-rounded ml-2" type="submit">subscribe<i
                    class="d-icon-arrow-right"></i></button>
              </form>
            </div>
          </div>
          <!-- End Newsletter -->
        </div>
        <div class="col-lg-4">
          <div class="widget widget-newsletter form-wrapper form-wrapper-inline">
            <div class="newsletter-info mx-auto mr-lg-2 ml-lg-4">
                <h4 class="widget-title">Download Kejettia FREE Mobile App</h4>
                <p>Get access to exclusive offers!</p><br>
                <a href="#" class="logo-footer playstore">
                  <img src="assets/images/playstorelogo.png" alt="logo-footer" width="200" height="auto"/>
                </a>
            </div>
          </div>
          <!-- End Newsletter -->
        </div>
      </div>
    </div>
    <!-- End FooterTop -->
    <div class="footer-middle">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="widget widget-info">
            <h4 class="widget-title">Contact Info</h4>
            <ul class="widget-body">
              <li>
                <label>Phone:</label>
                <a href="tel:#">  +233 54 468 6951</a>
              </li>
              <li>
                <label>Email:</label>
                <a href="mailto:hello@kejettia.com">  hello@kejettia.com</a>
              </li>
              <li>
                <label>Address:</label>
                <a href="javascript:;">  Ashanti Region, Kumasi Ghana.</a>
              </li>
              <li>
                <label>  WORKING DAYS / HOURS:</label>
                <a href="javascript:;">  24/7</a>
              </li>
            </ul>
          </div>
          <!-- End Widget -->
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="widget ml-lg-4">
            <h4 class="widget-title">My Account</h4>
            <ul class="widget-body">
              <li>
                <a [routerLink]="['/main/pages/about']" routerLinkActive="router-link-active">About</a>
              </li>
              <li>
                <a [routerLink]="['/main/pages/contact']" routerLinkActive="router-link-active">Contact</a>
              </li>
            </ul>
          </div>
          <!-- End Widget -->
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="widget ml-lg-4">
            <h4 class="widget-title">Contact Info</h4>
            <ul class="widget-body">
              <li>
                <a  [routerLink]="['/main/pages/privacy']" routerLinkActive="router-link-active">Terms &amp; Condition</a>
              </li>
              <li>
                <a [routerLink]="['/main/pages/faq']" routerLinkActive="router-link-active">FAQ</a>
              </li>
            </ul>



          </div>
          <!-- End Widget -->
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="widget widget-instagram">
            <h4 class="widget-title">Social Media</h4>
            <figure class="widget-body row">
              <div class="col-4 mb-5">
                <a href="https://www.facebook.com/kejettia/"><img class="social_m" src="assets/images/socialmedia/facebook.svg" alt="instagram 1"/></a>
              </div>
              <div class="col-4 mb-5">
                <a href="https://twitter.com/kejettia/"><img class="social_m" src="assets/images/socialmedia/twitter.svg" alt="instagram 2" /></a>
              </div>
              <div class="col-4 mb-5">
                <a href="https://www.instagram.com/kejettia/"><img class="social_m" src="assets/images/socialmedia/instagram.svg" alt="instagram 3"/></a>
              </div>
              <div class="col-12">
                <h4 class="widget-title">Follow us on all our Social Media Pages</h4>
              </div>
            </figure>
          </div>
          <!-- End Instagram -->
        </div>
      </div>
    </div>
    <!-- End FooterMiddle -->
    <div class="footer-bottom">
      <div class="footer-left">
        <figure class="payment">
          <img src="assets/images/payment.png" alt="payment" width="autho" height="29" />
        </figure>
      </div>
      <div class="footer-center">
        <!-- <p class="copyright">Kejettia eCommerce &copy; 2021. All Rights Reserved</p> -->
      </div>
      <div class="footer-right">
        <p class="copyright">Kejettia eCommerce &copy; 2021. All Rights Reserved</p>
      </div>
    </div>
    <!-- End FooterBottom -->
  </div>
</footer>
