<main class="main">
  <div class="page-content mb-10 pb-2">
    <div class="container">
      <ul class="breadcrumb">
        <li style="margin-left: 2%;"><a href="javascript:;" (click)="goBack()"><i class="d-icon-home"></i></a></li>
        <li>Shop</li>
      </ul>
      <!-- End Breadcrumb -->
      <div class="row main-content-wrap gutter-lg">
        <aside class="col-lg-3 sidebar sidebar-fixed shop-sidebar sticky-sidebar-wrapper">
          <div class="sidebar-overlay"></div>
          <a class="sidebar-close" href="javascript:;"><i class="d-icon-times"></i></a>
          <div class="sidebar-content">
            <div class="sticky-sidebar">
              <div class="widget widget-collapsible">
                <app-product-category-filter [Store]="selectedStore"></app-product-category-filter>
              </div>
              <div class="widget widget-collapsible">
                <app-price-filter></app-price-filter>
              </div>
              <div class="widget widget-collapsible">
                <app-size-filter></app-size-filter>
              </div>
              <div class="widget widget-collapsible">
                <app-color-filter></app-color-filter>
              </div>
              <div class="widget widget-collapsible">
                <app-brand-filter></app-brand-filter>
              </div>
            </div>
          </div>
        </aside>
        <div class="col-lg-9 main-content">
          <app-product-filter (itemsGridSizeEvent)="ProductItemsPerPage=$event" (layoutEvent)="layout=$event"
          (sortKeyEvent)="SortKey=$event"></app-product-filter>
        <div class="row cols-2 cols-sm-3 cols-md-4 product-wrapper" *ngIf="layout === 'grid'">
          <app-product-item [layout]='layout' [Product]="product"
            *ngFor="let product of sortedProductItems | paginate: { id:'search_product', itemsPerPage: productItemsPerPage, currentPage: page  }">
          </app-product-item>
        </div>

        <div class="product-lists product-wrapper" *ngIf="layout === 'list'">
          <app-product-item [layout]="layout" [Product]="product"
            *ngFor="let product of sortedProductItems | paginate: { id:'search_product', itemsPerPage: productItemsPerPage, currentPage: page  }">
          </app-product-item>
        </div>

        <nav class="toolbox toolbox-pagination">
          <p class="show-info">Showing {{getCurrentTotalItems()}} of {{productItems?.length}} Products</p>
          <pagination-controls class="search-pagination" [autoHide]="false" [maxSize]="10" [id]="'search_product'"
            (pageChange)="onPageChanged($event)" (pageBoundsCorrection)="onPageChanged($event)" [directionLinks]="true"
            [responsive]="true" previousLabel="Back" nextLabel="Next" screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
        </nav>

        </div>
      </div>
    </div>
  </div>
</main>
