<!-- <section class="pt-10 mt-3 pb-10">
    <div class="container mt-4">
        <h2 class="title title-center">Latest News</h2>
        <div class="owl-carousel owl-theme post-slider row cols-lg-3 cols-sm-2 cols-1" data-owl-options="{
            'nav': false,
            'dots': true,
            'margin': 20,
            'responsive': {
                '0': {
                    'items': 1
                },
                '576': {
                    'items': 2
                },
                '992': {
                    'items': 3,
                    'dots': false
                }
            }
        }">
            <div class="blog-post">
                <article class="post post-frame overlay-zoom">
                    <figure class="post-media" style="background-color: #e9e9e9;">
                        <a href="post-single.html">
                            <img src="assets/images/demos/demo5/blog/1.jpg" alt="Blog post" width="340"
                                height="206" />
                        </a>
                        <div class="post-calendar">
                            <span class="post-day">19</span>
                            <span class="post-month">JAN</span>
                        </div>
                    </figure>
                    <div class="post-details">
                        <h4 class="post-title"><a href="post-single.html">20% Off Coupon for Cyber
                                Week</a></h4>
                        <p class="post-content mb-4">Lorem ipsum dolor sit amet,onadipiscing elit, sedsd
                            doeiu smod tempo...</p>
                        <a href="post-single.html"
                            class="btn btn-primary btn-sm btn-link btn-underline">Read More<i
                                class="d-icon-arrow-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="blog-post">
                <article class="post post-frame overlay-zoom">
                    <figure class="post-media" style="background-color: #dfe4e9;">
                        <a href="post-single.html">
                            <img src="assets/images/demos/demo5/blog/2.jpg" alt="Blog post" width="340"
                                height="206" />
                        </a>
                        <div class="post-calendar">
                            <span class="post-day">19</span>
                            <span class="post-month">JAN</span>
                        </div>
                    </figure>
                    <div class="post-details">
                        <h4 class="post-title"><a href="post-single.html">Sed adipiscing ornare risus.</a></h4>
                        <p class="post-content mb-4">Lorem ipsum dolor sit amet,onadipiscing elit, sedsd
                            doeiu smod tempo...</p>
                        <a href="post-single.html"
                            class="btn btn-primary btn-sm btn-link btn-underline">Read More<i
                                class="d-icon-arrow-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="blog-post">
                <article class="post post-frame overlay-zoom">
                    <figure class="post-media" style="background-color: #e4e4e3;">
                        <a href="post-single.html">
                            <img src="assets/images/demos/demo5/blog/3.jpg" alt="Blog post" width="340"
                                height="206" />
                        </a>
                        <div class="post-calendar">
                            <span class="post-day">19</span>
                            <span class="post-month">JAN</span>
                        </div>
                    </figure>
                    <div class="post-details">
                        <h4 class="post-title"><a href="post-single.html">Vivamus vestibulum ntulla</a></h4>
                        <p class="post-content mb-4">Lorem ipsum dolor sit amet,onadipiscing elit, sedsd
                            doeiu smod tempo...</p>
                        <a href="post-single.html"
                            class="btn btn-primary btn-sm btn-link btn-underline">Read More<i
                                class="d-icon-arrow-right"></i></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section> -->
