<div class="intro-banner intro-banner3 banner banner-fixed banner-radius
                            overlay-dark appear-animate into_banner_one mb-5" style="background-color: #3a4146;"
                            data-animation-options="{
                            'name': 'fadeInUpShorter',
                            'delay': '.2s'
                        }">
                            <a href="javascript:;">
                                <figure>
                                    <img [src]="backgroundImage" width="580" height="241"
                                        alt="banner" />
                                </figure>
                            </a>
                            <div class="banner-content y-50">
                                <h4 class="banner-subtitle text-uppercase font-weight-bold text-primary">{{title}}</h4>
                                <h3 class="banner-title lh-1 font-weight-bold">{{content}}
                                </h3>
                                <a href="javascript:;" (click)="goToSearch()" class="btn  btn-link btn-underline">Shop Now<i
                                        class="d-icon-arrow-right"></i></a>
                            </div>
                        </div>
