/* You can add global styles to this file, and also import other style files */
// @import '~ngx-toastr/toastr-bs4-alert';
@import '~@angular/cdk/overlay-prebuilt.css';
@import url(assets/css/style.min.css);

.category-menu {
    padding: 0 1rem 0.2rem 0rem;
    background: #ffffff !important;
    border-radius:0.3rem;
}
