<div class="shop-boxed-banner banner mb-lg-6"
            style="background-image: url('assets/images/shop/banner22.png'); background-color: #f2f2f3;">
            <div class="banner-content">
                <!-- <h4 class="banner-subtitle font-weight-bold ls-normal text-uppercase text-white">
                    Riode Shop</h4>
                <h1 class="banner-title font-weight-bold text-white">Boxed Banner Style</h1> -->
                <!-- <a href="javascript:;" class="btn btn-white btn-outline btn-rounded text-normal">Discover now<i
                        class="d-icon-arrow-right"></i></a> -->
            </div>
        </div>
