<section class="mt-10 pt-2 appear-animate" data-animation-options="{'delay': '.3s'}">
    <div class="container">
        <h2 class="title title-center mb-5">Popular Categories</h2>
        <div class="owl-carousel owl-theme row cols-lg-4 cols-md-3 cols-sm-2 cols-1" data-owl-options="{
            'nav': false,
            'dots': true,
            'autoplay': false,
            'margin': 20,
            'responsive': {
                '0': {
                    'items': 1
                },
                '576': {
                    'items': 2
                },
                '768': {
                    'items': 3
                },
                '992': {
                    'items': 4,
                    'dots': false
                }
            }
        }">

            <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                <a href="demo5-shop.html">
                    <figure class="category-media" style="background-color: #edd3c7;">
                        <img src="assets/images/demos/demo5/categories/1.jpg" alt="category" width="280"
                            height="280" />
                    </figure>
                </a>
                <div class="category-content">
                    <h4 class="category-name ls-l"><a href="demo5-shop.html">Backpacks &amp; Fashion Bags</a>
                    </h4>
                </div>
            </div>

            <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                <a href="demo5-shop.html">
                    <figure class="category-media" style="background-color: #090909;">
                        <img src="assets/images/demos/demo5/categories/2.jpg" alt="category" width="280"
                            height="280" />
                    </figure>
                </a>
                <div class="category-content">
                    <h4 class="category-name ls-l"><a href="demo5-shop.html">Travel &amp; Clothing</a></h4>
                </div>
            </div>

            <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                <a href="demo5-shop.html">
                    <figure class="category-media" style="background-color: #fcd772;">
                        <img src="assets/images/demos/demo5/categories/3.jpg" alt="category" width="280"
                            height="280" />
                    </figure>
                </a>
                <div class="category-content">
                    <h4 class="category-name ls-l"><a href="demo5-shop.html">Musical instruments</a></h4>
                </div>
            </div>
            
            <app-popular-categories-item></app-popular-categories-item>
            
        </div>
    </div>
</section>