<main class="main  animate__animated animate__fadeInUp">
  <div class="page-content mt-6 pb-2 mb-10">
    <div class="container">
      <div class="login-popup">
        <div class="form-box">
          <div class="tab tab-nav-simple tab-nav-boxed form-tab">
            <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5" role="tablist">
              <li class="nav-item">
                <a class="nav-link border-no lh-1 ls-normal"  [ngClass]="{'active': page==='login'}"href="/main/pages/auth/login">Sign in</a>
              </li>
              <li class="delimiter">|</li>
              <li class="nav-item">
                <a class="nav-link border-no lh-1 ls-normal"  [ngClass]="{'active': page==='register'}" href="/main/pages/auth/register">Register</a>
              </li>
              <li class="delimiter">|</li>

              <li class="nav-item">
                <a class="nav-link border-no lh-1 ls-normal"  [ngClass]="{'active': page==='forgot'}" href="/main/pages/auth/forgot">Forgot password</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" [ngClass]="{'active': page==='login'}" id="signin">
                <app-login></app-login>
              </div>
              <div class="tab-pane" id="register" [ngClass]="{'active': page==='register'}">
                <app-register></app-register>
              </div>
              <div class="tab-pane" id="forget" [ngClass]="{'active': page==='forgot'}">
                <app-forgot-password></app-forgot-password>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

